<!DOCTYPE html>{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'auth/base/head.html' %}
    <title>{{SITE_TITLE}} - {% if SITE_URL %}{{SITE_URL}}{% else %}{{title}}{% endif %}</title>
    {% block styles %}{% endblock %}
    <script src="{% static 'base/js/jquery-3.2.1.min.js' %}"></script>
</head>
<body class="bg-light">
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center" id="auth">
                <div class="col-12 col-sm-6 mt-5">
                    <h2 class="text-center mb-4">
                        <a class="text-info" href="{% url 'front:home' %}" >Autenticación Moby Supply</a>
                    </h2>
                    <span class="anchor" id="formLogin"></span>
                    <div class="card rounded-0 mt-3 mb-5">
                        <div class="card-header text-center">
                            <h3 class="mb-0">{% if form_name %}{{form_name}}{% else %}{{title}}{% endif %}</h3>
                        </div>
                        <div class="card-body pt-5">
                            {% block content %}{% endblock %}
                        </div>
                        <div class="card-footer text-center">
                            {% if SITE_URL == 'Error' %}
                                <small class="text-muted">¿Ya tiene una cuenta? <a href="{% url 'auth:login' %}">Iniciar Sesión</a></small> -
                                <small class="text-muted">¿Aun no se ha registrado? <a href="{% url 'auth:register' %}">Registrese</a></small>
                            {% elif SITE_URL == 'Registrarse' %}
                            <small class="text-muted">¿Olvido su contraseña? <a href="{% url 'auth:password_reset' %}">Recuperar contraseña</a></small> -
                                <small class="text-muted">¿Ya tiene una cuenta? <a href="{% url 'auth:login' %}">Iniciar Sesión</a></small>
                            {% elif SITE_URL == 'Iniciar Sesión'  %}
                            <small class="text-muted">¿Olvido su contraseña? <a href="{% url 'auth:password_reset' %}">Recuperar contraseña</a></small> -
                            <small class="text-muted">¿Aun no se ha registrado? <a href="{% url 'auth:register' %}">Registrese</a></small>
                            {% else %}
                                <small class="text-muted">¿Ya tiene una cuenta? <a href="{% url 'auth:login' %}">Iniciar Sesión</a></small> -
                                <small class="text-muted">¿Aun no se ha registrado? <a href="{% url 'auth:register' %}">Registrese</a></small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="{% static 'base/js/popper.min.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/js/mdb.min.js' %}"></script>
    <script src="{% static 'auth/js/app.js' %}"></script>
    {% block js %}{% endblock %}
    {% if messages %}
        <script>
            toastr["{{messages.level}}"]("{{messages.message}}");
        </script>
    {% endif  %}
</body>
</html>