{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
    #blogBox{
        background-color: #fff;
        padding: 25px;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    #blogBox:hover {
       box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
</style>
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}
<div class="container is-padding-top-30">
    <div class="is-centered is-padding-top-30">
        <h3 class="is-size-2">Moby tips y blog</h3>
    </div>
    {% if object_list %}
        {% for object in object_list %}
            <div class="columns is-padding-y-20">
                <div class="column is-8 is-offset-2">
                    <div id="blogBox">
                        <div class="view overlay hm-white-slight is-centered">
                            <a href="{{object.get_absolute_url}}">
                                {% if object.img.url != None %}
                                    <img class="mb-4 img-fluid" src="{{object.img.url}}" alt="{{object.title}}">
                                {% elif object.background.url != None %}
                                    <img class="mb-4 img-fluid" src="{{object.background.url}}" alt="{{object.title}}">
                                {% else %}
                                    <img class="mb-4 img-fluid" src="/static/base/img/img-base-m.png" alt="{{object.title}}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                            <h3 class="mb-3 font-bold dark-grey-text">
                                <strong>{{object.title}}</strong>
                            </h3>
                            <p class="grey-text">
                                {{object.text| safe | truncatewords:50}}
                            </p>
                            <p>Escrito por 
                                <a class="font-bold dark-grey-text">{{object.author}}</a>, {{object.created_at}}
                            </p>
                            <a href="{{object.get_absolute_url}}" class="btn btn-outline-dark btn-md">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2 is-margin-botton-50">
            {% include 'app/base/paginator.html' %}
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}