{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
.contact-1, .contact-2 {
    padding-top: 15vh;
    padding-bottom: 5rem;
}
</style>
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}
<div class="contact-2">
    <div class="container">
        <div class="row contact-details">
            <div class="col-sm-8 offset-sm-2 text-center">
                <h2>Contact Us</h2>
                <p class="lead constrain-width mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At aliquam rhoncus donec magna turpis, dictum sit
                    amet tellus at, commodo elementum sapien.</p>
                <div class="divider"></div>
                <h4>Ask us a question</h4>
                <form class="contact-form mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control mb-4" placeholder="Name" value="Su nombre">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control mb-4" placeholder="nombre@su-direcciion.com" value="Su email">
                        </div>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control mb-4" rows="3">Su mensaje</textarea>
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg mb-4">Enviar mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}