{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
    /* #departments{margin-top: px;} */
    #departments .row{
        margin-bottom: 45px;
    }
    .breadcrumb{margin-top: 75px;background-color: rgba(0, 0, 0, 0)}
</style>
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row" id="breadcrumb">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'sales:home' %}">Productos</a></li>
                <li class="breadcrumb-item">Departamento</li>
            </ol>
        </div>
    </div>
</div>
<div class="container " id="departments">
    {% if object_list %}
        <div class="row">
            {% for object in object_list %}
                {% if forloop.counter0 == 2 %}
                    </div>
                    <div class="row mt-5">
                {% endif %}
                <div class="col-md-6 ">
                {% if object.background %}
                    <div style="background-image: url({{object.img.url}});" class="item d-flex align-items-end">
                {% else %}                
                    <div class="card card-image" style="url(/static/base/img/moby-background-01.png);">
                {% endif %}
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                <div>
                                    <h3 class="card-title py-3 font-bold"><strong>{{object.name}}</strong></h3>
                                    <p class="pb-3">
                                        {{object.description|truncatewords:44|safe}}
                                    </p>
                                    <a class="btn btn-outline-white" href="{{object.get_absolute_url}}"><i class="fa fa-clone left"></i> Ver más</a>
                                </div>
                            </div>
                        </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
    <div class="col-md-12 mb-r">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title py-3 font-bold"><strong>Titulo</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-outline-white"><i class="fa fa-clone left"></i> Ver más</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-r">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title py-3 font-bold"><strong>Titulo</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-outline-white"><i class="fa fa-clone left"></i> Ver más</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-r">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title py-3 font-bold"><strong>Titulo</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-outline-white"><i class="fa fa-clone left"></i> Ver más</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-r">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title py-3 font-bold"><strong>Titulo</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-outline-white"><i class="fa fa-clone left"></i> Ver más</a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
</div>
{% include 'app/base/paginator.html' %}
{% endblock %}

{% block js %}
<script>
$('#departments .row:nth-child(odd)').addClass('bg-light');


</script>
{% endblock %}