{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
    #departments{margin-top: 120px;}
    #departments .row{
        margin-bottom: 45px;
    }
    footer{margin-top: -6px;}
</style>
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}

<div class="container" id="departments">
    {% if departments %}
        {% for object in departments %}
            <div class="row align-items-center shadow">
                <div class="col-12 col-sm-6">
                    <div class="my-3 p-3">
                        <h2 class="display-5">
                            <a href="">
                                Cortes
                            </a>
                        </h2>
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="serv-img">
                        <div class="img">
                            <img class="img-fluid" src="/static/base/img/moby-background-04.jpg" alt="departments">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row align-items-center shadow">
            <div class="col-12 col-sm-6">
                <div class="my-3 p-3">
                    <h2 class="display-5">
                        <a href="{% url 'sales:departments' %}" class="">
                            Laminas
                        </a>
                    </h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="serv-img">
                    <div class="img">
                        <a href="{% url 'sales:departments' %}">
                            <img class="img-fluid" src="/static/base/img/moby-background-04.jpg" alt="departments">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center shadow">
            <div class="col-12 col-sm-6">
                <div class="my-3 p-3">
                    <h2 class="display-5">
                        <a href="{% url 'sales:departments' %}" class="">
                            Cantos
                        </a>
                    </h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="serv-img">
                    <div class="img">
                        <a href="{% url 'sales:departments' %}">
                            <img class="img-fluid" src="/static/base/img/moby-background-04.jpg" alt="departments">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center shadow">
            <div class="col-12 col-sm-6">
                <div class="my-3 p-3">
                    <h2 class="display-5">
                        <a href="{% url 'sales:departments' %}" class="">
                            Sobres
                        </a>
                    </h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="serv-img">
                    <div class="img">
                        <a href="{% url 'sales:departments' %}">
                            <img class="img-fluid" src="/static/base/img/moby-background-04.jpg" alt="departments">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center shadow">
            <div class="col-12 col-sm-6">
                <div class="my-3 p-3">
                    <h2 class="display-5">
                        <a href="{% url 'sales:departments' %}" class="">
                            Herrajes
                        </a>
                    </h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="serv-img">
                    <div class="img">
                        <a href="{% url 'sales:departments' %}">
                            <img class="img-fluid" src="/static/base/img/moby-background-04.jpg" alt="departments">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
</div>

{% endblock %}

{% block js %}
<script>
$('#departments .row:nth-child(odd)').addClass('bg-light');
$('#departments .row:nth-child(odd) .col-12').addClass('text-center text-middle overflow-hidden text-dark');
$('#departments .row:nth-child(odd) a').addClass('text-dark');
$('#departments .row:nth-child(odd) .serv-img').css('width','100%');
$('#departments .row:nth-child(even)').addClass('bg-dark');
$('#departments .row:nth-child(even) .col-12').addClass('text-center text-middle overflow-hidden text-white');
$('#departments .row:nth-child(even) a').addClass('text-white');
$('#departments .row:nth-child(even) .serv-img').css('width','100%');
$('#departments .row:nth-child(even) .col-12:nth-child(odd)').addClass('order-first order-sm-12');
$('#departments .row:nth-child(even) .col-12:nth-child(even)').addClass('order-last order-sm-1');

</script>
{% endblock %}