{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
    #departments{margin-top: 120px;}
    #departments .row{
        margin-bottom: 45px;
    }
    footer{margin-top: -6px;}
</style>
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}

<div class="container" id="departments">
    {% if object_list %}
        {% for object in object_list %}
            <div class="col-md-12 mb-r">
                <div class="card card-image" style="background-image: url({{object.background.url}});">
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h3 class="card-title py-3 font-bold"><strong>{{object.name}}</strong></h3>
                            <p class="pb-3">
                                {{object.description|safe}}
                            </p>
                            <a class="btn btn-outline-white" href="{{object.get_absolute_url}}"><i class="fa fa-clone left"></i> Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="col-md-12 mb-r">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title py-3 font-bold"><strong>Titulo</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-outline-white"><i class="fa fa-clone left"></i> Ver más</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-r">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title py-3 font-bold"><strong>Titulo</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-outline-white"><i class="fa fa-clone left"></i> Ver más</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-r">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title py-3 font-bold"><strong>Titulo</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-outline-white"><i class="fa fa-clone left"></i> Ver más</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-r">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title py-3 font-bold"><strong>Titulo</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-outline-white"><i class="fa fa-clone left"></i> Ver más</a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
</div>

{% endblock %}

{% block js %}
<script>
$('#departments .row:nth-child(odd)').addClass('bg-light');


</script>
{% endblock %}