{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}

<style>
    .paralsec {
        background-image: url("{% static 'base/img/pexels-photo-317355.jpeg' %}");
    }
    #carousel .carousel-inner img {
        width: 100%;
        max-height: 85%;
    }
    #about{
        /* background-color: rgb(243, 243, 243); */
    }
    #about .img{
        padding: 45px 0 45px 45px;
        margin-right: -25px;
    }
    #about .img img{
        height: 350px;
    }
    #about .card{
        margin-left: -50px
    }
    /* #cat .img{
        height: 350px;
        margin: 0;
    }
    
    #cat .img img{
        height: 450px;
        width: 100%;
    } */
</style>
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row" id="h-80h">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
        
                    <picture>
                        <source srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}"
                            media="(min-width: 1400px)">
                        <source srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}"
                            media="(min-width: 769px)">
                        <source srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}" media="(min-width: 577px)">
                        <img srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}" alt="responsive image"
                            class="d-block img-fluid">
                    </picture>
        
                    <div class="carousel-caption">
                        <div>
                            <h2>Nuestros Servicios</h2>
                            <p>CORTE, CANTEO, PERFORACIÓN, RANURADO, FRESADO, ARMADO, DESPACHO</p>
                            <a class="btn btn-sm btn-outline-secondary">Ver más</a>
                        </div>
                    </div>
                </div>
        
                <div class="carousel-item">
        
                    <picture>
                        <source srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}"
                            media="(min-width: 1400px)">
                        <source srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}"
                            media="(min-width: 769px)">
                        <source srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}" media="(min-width: 577px)">
                        <img srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}" alt="responsive image"
                            class="d-block img-fluid">
                    </picture>
        
        
                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2>Nuestros productos</h2>
                            <p>HERRAJES, MELAMINA, GRANITO</p>
                            <a class="btn btn-sm btn-outline-secondary">Ver más</a>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item">
        
                    <picture>
                        <source srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}"
                            media="(min-width: 1400px)">
                        <source srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}"
                            media="(min-width: 769px)">
                        <source srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}" media="(min-width: 577px)">
                        <img srcset="{% static 'base/img/pexels-photo-262367.jpeg' %}" alt="responsive image"
                            class="d-block img-fluid">
                    </picture>
        
        
                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2>Promo del mes</h2>
                            <p>Promo por inicio de año, lleva tus herrajes a un 30% de descuento</p>
                            <a class="btn btn-sm btn-outline-secondary">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" role="button" data-slide="prev"  href="#carousel">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" role="button" data-slide="next"  href="#carousel">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center" id="about">
        <div class="col col-6">
            <div class="img float-right">
                <img src="https://kin.co.nz/media/images/Homepage_wendy3.original.jpg" alt="">
            </div>
        </div>
        <div class="col col-6">
            <div class="card text-dark mb-3" style="max-width: 28rem;">
                <div class="card-body">
                    <p>
                        <span class="h3">
                            Moby Panamá, S.A.
                        </span> 
                        <br> fue fundada en Panamá en el año 2011 estructurada en forma sociedad
                        anónima.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="cards">
        <div class="col-sm">
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'base/img/pexels-photo-609768.jpeg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Nuestros Servicios</h5>
                    <a href="{% url 'front:services' %}" class="btn btn-link text-light btn-sm">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-dark text-white">
                <img class="card-img" src="{% static 'base/img/pexels-photo-609768.jpeg' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Nuestros productos</h5>
                    <a href="{% url 'sales:home' %}" class="btn btn-link text-light btn-sm">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row align-items-center bg-dark" id="cat">
        <div class="col-sm-6 text-center text-middle text-white overflow-hidden ">
            <div class="my-3 py-3">
                <div class="img">
                    <img class="img-fluid" src="https://static.pexels.com/photos/74204/tokina-tiltshift-samyang-nikon-74204.jpeg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center text-middle overflow-hidden text-white">
            <div class="my-3 p-3">
                <h2 class="display-5">Melaminas</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                </p>
            </div>
        </div>
    </div>

    <div class="row align-items-center bg-light" id="cat">
        <div class="col-sm-6 text-center text-middle overflow-hidden text-dark">
            <div class="my-3 p-3">
                <h2 class="display-5">Tiradores</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                </p>
            </div>
        </div>
        <div class="col-sm-6 text-center text-middle text-dark overflow-hidden ">
            <div class="my-3 py-3">
                <div class="img">
                    <img class="img-fluid" src="https://static.pexels.com/photos/74204/tokina-tiltshift-samyang-nikon-74204.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center bg-dark" id="cat">
        <div class="col-sm-6 text-center text-middle text-white overflow-hidden ">
            <div class="my-3 py-3">
                <div class="img">
                    <img class="img-fluid" src="https://static.pexels.com/photos/74204/tokina-tiltshift-samyang-nikon-74204.jpeg" alt="">
                </div>
            </div>
            
        </div>
        <div class="col-sm-6 text-center text-middle overflow-hidden text-white">
            <div class="my-3 p-3">
                <h2 class="display-5">Granito</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                </p>
            </div>
        </div>
    </div>

    <div class="row align-items-center bg-light" id="cat">
        <div class="col-sm-6 text-center text-middle overflow-hidden text-dark">
            <div class="my-3 p-3">
                <h2 class="display-5">Herrajes</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                </p>
            </div>
        </div>
        <div class="col-sm-6 text-center text-middle text-dark overflow-hidden ">
            <div class="my-3 py-3">
                <div class="img">
                    <img class="img-fluid" src="https://static.pexels.com/photos/74204/tokina-tiltshift-samyang-nikon-74204.jpeg" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row" id="blog">
        <div class="col-sm-12">
            <div class="text-header">
                <p class="h1 text-center">Últimas entradas del blog</p>
            </div>
        </div>
        {% for object in blog_post %}
        <div class="col-sm-4 col-xs-12 align-self-center">
            <div class="item">
                <div class="header">
                    <img class="mb-4 img-fluid" src="{{object.img}}">
                </div>
                <div class="body">
                    <h3>
                        <a href="{% url 'blog:blog_detail' object.slug %}" class="text-dark">
                            {{object.title}}
                        </a>
                    </h3>
                    <p class="mt-4 mb-4">
                        {{object.text|truncatewords:8 }}
                    </p>
                </div>
                <div class="footer">
                    <a class="btn btn-link text-dark float-right" href="{% url 'blog:blog_detail' object.slug %}" role="button">
                        <i class="material-icons">launch</i>Leer más
                    </a>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
<div class="container-fluid">
    <div class="row" id="newsletter">
        <div class="col-sm-12 text-center">
            <div class="card paral paralsec">
                <div class="card-body">
                    <h5 class="card-title display-4">Boletin de noticias</h5>
                    <p class="card-text">Manténgase actualizado con las noticias y publicaciones.</p>
                    <div class="input-group mb-6">
                        <input type="text" class="form-control" placeholder="su-nombre@su-correo.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" type="button">Enviar <i class="material-icons">send</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>

</script>
{% endblock %}