{% extends 'app/base/index.html' %}{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'base/css/home.css' %}">
{% endblock %}
{% block full_screen %}
{% endblock %}
{% block content %}
        {% if home_header_carousel %}
            <div class="container">
                <div class="shadow" id="carousel-header">
                    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
                        <ol class="carousel-indicators">
                            {% for object in home_header_carousel_images %}
                                <li data-target="#carousel" data-slide-to="{{object.id}}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner view hm-black-strong" role="listbox">
                            {% for object in home_header_carousel_images %}
                                <div class="carousel-item view hm-black-strong {% if forloop.counter == 1 %}active {% endif %}">
                                    <img src="{{ object.image.url }}" alt="{{object.name}}" class="d-block img-fluid">
                                    <div class="carousel-caption">
                                        <div>
                                            <h2>{{object.name}}</h2>
                                            {{object.text | safe}}
                                            {% if object.call_to_action_url != None %}
                                            {% else %}
                                                <a class="btn btn-outline-white waves-effect" href="{{object.call_to_action_url}}">Ver más</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" role="button" data-slide="prev"  href="#carousel">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" role="button" data-slide="next"  href="#carousel">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
        {% endif %}
        <!-- Fin Bloque carrusel -->
        {% if info_site %}
            <div class="container">
                <div class="row" id="about">
                    <div class="col-md-6 col-12">
                        <div class="img shadow">
                            {% if info_site.site_img.url != None %}
                                <img src="{{ info_site.site_img.url }}" alt="{{info_site.title}}" class="img-fluid">
                            {% else %}
                                <img src="{% static 'base/img/img-base-m.png' %}" alt="{{info_site.title}}" class="img-fluid">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 align-self-center">
                        <div class="card text-dark mb-3">
                            <div class="card-body shadow">
                                <p>
                                    <span class="h3 moby-text-h-1">
                                        {{info_site.name}}
                                    </span> 
                                    <br> {{info_site.short_description|safe|truncatechars:240}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="cards">
                    <div class="col-sm-6 col-12">
                        <div class="card text-center text-middle shadow view hm-black-strong">
                            {% if info_site.services_img.url != None %}
                                <img src="{{ info_site.services_img.url }}" alt="Nuestros servicios" class="card-img img-fluid">
                            {% else %}
                                <img class="card-img" src="/static/base/img/img-base-m.png" alt="Nuestros servicios">
                            {% endif %}
                            <div class="mask"></div>
                        </div>
                        <div class="card-img-overlay bg-light shadow">
                            <h5 class="card-title">Nuestros Servicios</h5>
                            <a href="{% url 'services:home' %}" class="btn btn-outline-black text-dark btn-sm">Ver más</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="card text-center text-middle shadow view hm-black-strong">
                            {% if info_site.products_img.url != None %}
                                <img src="{{ info_site.products_img.url }}" alt="Nuestros productos" class="card-img img-fluid">
                            {% else %}
                                <img class="card-img" src="/static/base/img/img-base-m.png" alt="Nuestros productos">
                            {% endif %}
                            <div class="mask"></div>
                        </div>
                        <div class="card-img-overlay bg-light shadow">
                            <h5 class="card-title">Nuestros productos</h5>
                            <a href="{% url 'sales:all' %}" class="btn btn-outline-black text-dark btn-sm">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- Fin Bloque imgen corporativa y enlaces -->
        {% if departments %}
            <div class="container-fluid" id="departments">
                <div class="row">
                    {% for object in departments %}
                        <div class="col-12 col-md-6 col-lg-3">
                            {% if object.background.url != None %}
                                <div class="card card-image" style="background-image: url({{object.background.url}}); max-height:300px;">
                            {% else %}
                                <div class="card card-image" style="background-image: url(/static/base/img/img-base-m.png); max-height:300px;">
                            {% endif %}
                                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                        <div>
                                            <h3 class="card-title pt-2">
                                                <a href="{{object.get_absolute_url}}" class="white-text">
                                                    <strong>{{object.name}}</strong>
                                                </a>
                                            </h3>
                                            <p>
                                                {{object.description|safe|truncatechars:120}}
                                            </p>
                                            <a class="btn moby-gradient" href="{{object.get_absolute_url}}">
                                                <i class="fa fa-clone left"></i>
                                                Ver más
                                            </a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <!-- Fin linea de departamentos -->
        {% if blog_post %}
            <div class="container" id="blog">
                <div class="row justify-content-md-center">
                    {% for object in blog_post %}
                        <div class="col-md-4 col-12 align-self-center">
                            <div class="item">
                                <div class="header">
                                    {% if object.img.url != None %}
                                    <img class="mb-4 img-fluid" src="{{object.img.url}}" alt="{{object.title}}">
                                    {% else %}
                                    <img class="mb-4 img-fluid" src="/static/base/img/img-base-m.png" alt="{{object.title}}">
                                    {% endif %}
                                </div>
                                <div class="body">
                                    <h4>
                                        <a href="{% url 'blog:blog_detail' object.slug %}" class="text-dark">
                                            {{object.title}}
                                        </a>
                                    </h4>
                                    <p class="mt-4 mb-4">
                                        {{object.text|truncatewords:8|safe }}
                                    </p>
                                </div>
                                <div class="footer">
                                    <a class="btn btn-outline-black text-dark float-right btn-sm" href="{% url 'blog:blog_detail' object.slug %}" role="button">
                                        Leer más
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                </div>
            </div>
        {% endif %}
        <!-- Fin Bloque noticias -->
{% endblock %}
{% block js %}
    <script>
        $('.item .body p img').addClass('img-fluid');
        $( ".item .body table" ).wrap( "<div class='table-responsive'></div>" );
    </script>
{% endblock %}