{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
    .breadcrumb{margin-top: 0px;background-color: rgba(0, 0, 0, 0)}
    .pagination{
        margin-top: 45px; margin-bottom: 45px;
    }
    .item .content{
        padding-left: 10px;
        padding-top: 10px;
        height: 45px;
        width: 100%;
        background-color: #3f4236;
        box-shadow: -5px 4px black;
        text-shadow: -4px 3px 3px black;
    }
    .item{
        background: #FFF;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        margin-bottom: 45px;
    }
    .item .info{
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }
    .item img{
        text-align: center
    }
    .item .price{
        margin-right: 0px;
        margin-bottom: 0px;
        background-color: #8a7e5f;
        padding: 5px 20px 0px 20px;
        color: #FFF;
    }
    .accordion-body{
        position: sticky;
        top: 85px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
</style>
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'sales:home' %}">Productos</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 mb-5">
            <div class="accordion-body" id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Filtros
                        </a>
                    </div>
                </div>
                {% if departments %}        
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Departamentos
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show">
                            <div class="card-body">
                                {% for object in departments %}
                                    <ul>
                                        <li>
                                            <a href="{{ object.get_absolute_url }}">{{object.name}}</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if categories %}
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Categorías
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse">
                            <div class="card-body">
                                {% for object in categories %}
                                    <ul>
                                        <li>
                                            <a href="{% url 'sales:all' %}?cat={{object.id}}">{{object.name}}</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if brands %}
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Marcas
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse">
                            <div class="card-body">
                                {% for object in brands %}
                                    <ul>
                                        <li>
                                            <a href="{{object.get_absolute_url}}">{{object.name}}</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row d-flex align-items-stretch">
                {% for object in article_list %}
                    {% if forloop.counter0 == 3 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% if forloop.counter0 == 6 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    <div class="col-sm-4 d-flex align-items-stretch">
                        <div class="item">
                            <a href="{{object.get_absolute_url}}">
                                <img src="{% if object.img != '' %}/{{object.img}}{% else %}{% static 'base/img/base-m.png' %}{% endif %}" alt="{{object.name}}" class="img-fluid rounded mx-auto d-block"></img>
                            </a>
                            <div class="info">
                                <h5>
                                    <a href="{{object.get_absolute_url}}" class="text-dark">
                                        {{object.name}}
                                    </a>
                                </h5>
                                <p>{{object.description | safe | truncatechars:120}}</p>
                                <div class="clearfix">
                                    <!-- <p class="badge badge-info float-left">
                                        <a href="{% url 'sales:departments' %}{{object.department.slug }}" class="text-light">{{object.department}}</a>
                                    </p> -->
                                    {% if user.can_see_price %}
                                    <div class="price float-right">
                                        <h5 class="">${{object.price_4}}</h5>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'app/base/paginator.html' %}
</div>
{% endblock %}

{% block js %}
{% endblock %}