{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
{% endblock %}

{% block full_screen %}
{% endblock %}

{% block content %}

{% if products_header_carousel %}
    <div class="container is-padding-y-30">
        <div class="carousel" id="productsCarrousel">
            {% for object in products_header_carousel_images %}
            <div class=''>
                <img class="is-background" src="{{ object.image.url }}" alt="{{object.name}}"></img>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
    
{% if departments %}
<div class="container">
    <div class="columns bd-klmn-columns">
        {% for object in departments %}
            <div class="column is-3">
                <div class="has-background-grey-lighter">
                    <div class="card is-centered overlayer">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="{% if object.background.url != None %}{{object.background.url}}{% else %}/static/base/img/img-base-m.png{% endif %}" alt="{{object.title}}"></img>
                        <div class="content-details fadeIn-top">
                            <a href="{% url 'sales:all' %}?department={{object.id}}">
                                <h3>{{ object.name }}</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endif %}
    
{% if products %}
<div class="container is-margin-botton-50 is-padding-top-50" id="feeds">
    <div class="has-text-centered">
        <h2 class="is-size-2">Nuestros productos</h2>
    </div>
    <div class="columns">
        {% for object in products %}
            {% if forloop.counter0 == 4 or forloop.counter0 == 8 %}</div><div class="columns">{% endif %}
            <div class="column is-3 {% if forloop.first or forloop.counter0 == 4 or forloop.counter0 == 7 %}{% endif %}">
            <div class="recent-feed">
                <div class="feed-img">
                    <a href="{% url 'sales:product_detail' object.slug %}">
                        {% if object.img.url != None %}
                        <img src="{{object.img.url}}" alt="{{ object.code }}" class="image is-128-256" ></img>
                        {% else %}
                        <img src="/static/base/img/img-base-m.png" alt="{{ object.code }}" class="image is-128-256" ></img>
                        {% endif %}
                    </a>
                </div>
                <div class="feed-title">
                    <h3 class="is-size-7">
                        <a href="{% url 'sales:product_detail' object.slug %}" class="has-text-black">
                            {{ object.code }}
                        </a>
                    </h3>
                </div>
                <div class="feed-leyend is-clearfix">
                    <p class="is-size-7 is-pulled-left">
                        <span class="icon"><i class="fas fa-folder-open"></i></span>
                        <a href="{% url 'sales:all' %}?page=1category={{object.category.id}}" class="has-text-black">
                            {{ object.category | lower | capfirst }}
                        </a>
                    </p>
                </div>
                <div class="feed-content">
                    <div class="is-size-6">{{ object.description }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="has-text-centered is-padding-top-50">
        <a href="{% url 'sales:all' %}" class="button is-fullwidth is-light  is-size-4 has-text-black">
            Ver todos los productos
        </a>
    </div>
</div>
{% endif %} 

{% if brands %}
<div>
    <div class="container is-margin-botton-50 is-padding-y-30">
        <div class="is-padding-y-30" id="brandCarrousel">
            {% for object in brands %}
                <a href="{% url 'sales:all' %}">
                    {% if object.img.url != None %}
                    <img id="brandCarrouselImg" src="{{object.img.url}}" alt="{{object.name}}">
                    {% elif object.logo.url != None %}
                    <img id="brandCarrouselImg" src="{{object.logo.url}}" alt="{{object.name}}">
                    {% else %}
                    <img id="brandCarrouselImg" src="/static/base/img/img-base-m.png" alt="{{object.name}}">
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %} 
{% block js %}
<script src="{% static 'base/js/slick.min.js' %}"></script>
<script>
    $('#productsCarrousel').slick({
        dots: true,
        infinite: true,
        speed: 300,
        fade: true,
        cssEase: 'linear',
        autoplay: true,
        autoplaySpeed: 2000
    });
    $('#brandCarrousel').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ],
        autoplay: true,
        autoplaySpeed: 2000
    });
</script>
{% endblock %}