{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}

{% if line != '' or sub_line != '' or category != '' or department != '' or brand != '' or color != '' or search != '' %}
<div class="container is-padding-top-30">
    <div class="columns is-centered">
        <div class="column">
            <div class="buttons">
                {% if line != '' %}
                <a class="button is-outlined is-dark is-rounded">
                    <span>Linea: {{ line | lower | capfirst }}</span>
                    <span class="icon is-small" id="lineDelete">
                        <i class="fas fa-times"></i>
                    </span>
                </a>
                {% endif %}
                {% if sub_line != '' %}
                <a class="button is-outlined is-dark is-rounded">
                    <span>Sublinea: {{ sub_line | lower | capfirst }}</span>
                    <span class="icon is-small" id="sub_lineDelete">
                        <i class="fas fa-times"></i>
                    </span>
                </a>
                {% endif %}
                {% if category != '' %}
                <a class="button is-outlined is-dark is-rounded">
                    <span>Categoría: {{ category | lower | capfirst }}</span>
                    <span class="icon is-small" id="categoryDelete">
                        <i class="fas fa-times"></i>
                    </span>
                </a>
                {% endif %}
                {% if department != '' %}
                <a class="button is-outlined is-dark is-rounded">
                    <span>Departamento: {{ department | lower | capfirst }}</span>
                    <span class="icon is-small" id="departmentDelete">
                        <i class="fas fa-times"></i>
                    </span>
                </a> 
                {% endif %}
                {% if brand != '' %}
                <a class="button is-outlined is-dark is-rounded">
                    <span>Marca: {{ brand | lower | capfirst }}</span>
                    <span class="icon is-small" id="brandDelete">
                        <i class="fas fa-times"></i>
                    </span>
                </a>
                {% endif %}
                {% if color != '' %}
                <a class="button is-outlined is-dark is-rounded">
                    <span>Color: {{ color | lower | capfirst }}</span>
                    <span class="icon is-small" id="colorDelete">
                        <i class="fas fa-times"></i>
                    </span>
                </a>
                {% endif %}
                {% if search != '' %}
                <a class="button is-outlined is-dark is-rounded">
                    <span>Busqueda: {{ search | lower | capfirst }}</span>
                    <span class="icon is-small" id="searchDelete">
                        <i class="fas fa-times"></i>
                    </span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container is-padding-top-30">
    <div class="columns">
        <div class="column is-3">
            <div id="searchBox">
                <div class="is-hidden-touch" id="productsSearcher">
                    <div class="card box-animation">
                        <div class="has-background-grey has-text-centered is-padding-y-10">
                            <h3 class="is-size-5 has-text-white is-marginless">Busqueda avanzada</h3>
                        </div>
                        <div class="has-background-grey-lighter is-padding-y-10">
                            <h3 class="is-size-6 is-marginless">Artículo por nombre</h3>
                            <div class="field has-addons">
                                <div class="control has-background-white is-marginless">
                                    {% if search == '' %}
                                        <input class="input" type="text" placeholder="Buscar un producto" id='searchInput'></input>
                                    {% else %}
                                        <input class="input" type="text" placeholder="{{search}}" value="{{search}}" id='searchInput'></input>
                                    {% endif %}
                                </div>
                                <div class="control is-marginless">
                                    <a class="button is-info">
                                        <span class="icon has-text-white tooltip is-tooltip-right" data-tooltip="Buscar">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="has-background-grey-lighter is-padding-bottom-10">
                                <h3 class="is-size-6 is-marginless">Lineas</h3>
                                <div class="field has-addons has-text-centered">
                                    <div class="select">
                                        <form action="{% url 'sales:all' %}" method="get">
                                            {% csrf_token %}
                                            <select id="lineSelector">
                                                {% if line != '' %}
                                                    <option selected>{{ line | lower | capfirst}}</option>
                                                {% else %}
                                                    <option selected>Lineas</option>
                                                {% endif %}
                                                {% for obj in lines %}
                                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="has-background-grey-lighter is-padding-bottom-10">
                                <h3 class="is-size-6 is-marginless">Sublineas</h3>
                                <div class="field has-addons has-text-centered">
                                    <div class="select">
                                        <form action="{% url 'sales:all' %}" method="get">
                                            {% csrf_token %}
                                            <select id="sub_lineSelector">
                                                {% if sub_line != '' %}
                                                    <option selected>{{ sub_line | lower | capfirst}}</option>
                                                {% else %}
                                                    <option selected>Sublineas</option>
                                                {% endif %}
                                                {% for obj in sub_lines %}
                                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="has-background-grey-lighter is-padding-bottom-10">
                                <h3 class="is-size-6 is-marginless">Departamentos</h3>
                                <div class="field has-addons has-text-centered">
                                    <div class="select">
                                        <form action="{% url 'sales:all' %}" method="get">
                                            {% csrf_token %}
                                            <select id="departmentSelector">
                                                {% if department != '' %}
                                                    <option selected>{{ department | lower | capfirst}}</option>
                                                {% else %}
                                                    <option selected>Departamentos</option>                                             
                                                {% endif %}
                                                {% for obj in departments %}
                                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="has-background-grey-lighter is-padding-bottom-10">
                                    <h3 class="is-size-6 is-marginless">Categorías</h3>
                                    <div class="field has-addons has-text-centered">
                                        <div class="select">
                                            <form action="{% url 'sales:all' %}" method="get">
                                                {% csrf_token %}
                                                <select id="categorySelector">
                                                {% if category != '' %}
                                                    <option selected>{{ category | lower | capfirst}}</option>
                                                {% else %}
                                                    <option selected>Categorías</option>
                                                {% endif %}
                                                {% for obj in categories %}
                                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="has-background-grey-lighter is-padding-bottom-10">
                                <h3 class="is-size-6 is-marginless">Marcas</h3>
                                <div class="field has-addons has-text-centered">
                                    <div class="select">
                                        <form action="{% url 'sales:all' %}" method="get">
                                            {% csrf_token %}
                                            <select id="brandSelector">
                                                {% if brand != '' %}
                                                    <option selected>{{ brand | lower | capfirst}}</option>
                                                {% else %}
                                                    <option selected>Marcas</option>
                                                {% endif %}
                                                {% for obj in brands %}
                                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="has-background-grey-lighter is-padding-bottom-10">
                                <h3 class="is-size-6 is-marginless">Colores</h3>
                                <div class="field has-addons has-text-centered">
                                    <div class="select">
                                        <form action="{% url 'sales:all' %}" method="get">
                                            {% csrf_token %}
                                            <select id="colorSelector">
                                                {% if color != '' %}
                                                    <option selected>{{ color | lower | capfirst}}</option>
                                                {% else %}
                                                    <option selected>Colores</option>
                                                {% endif %}
                                                {% for obj in colors %}
                                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-9">
            <div class="columns">
            {% for object in article_list %}
                {% if forloop.counter0 == 4 or forloop.counter0 == 8 or forloop.counter0 == 12 or forloop.counter0 == 16 %}</div><div class="columns">{% endif %}
                <div class="column is-3 {% if forloop.first or forloop.counter0 == 4 or forloop.counter0 == 7 %}{% endif %}">
                    <div class="recent-feed" style="display:grid">
                        <div class="feed-img">
                            <a href="{% url 'sales:product_detail' object.slug %}">
                                {% if object.img.url != None %}
                                    <img src="{{object.img.url}}" alt="{{ object.code }}" class="image is-128-256" ></img>
                                {% else %}
                                    <img src="/static/base/img/img-base-m.png" alt="{{ object.code }}" class="image is-128-256" ></img>
                                {% endif %}
                            </a>
                        </div>
                        <div class="feed-leyend is-clearfix is-paddingless">
                            <p class="is-size-7 is-pulled-left">
                                <span class="icon"><i class="fas fa-folder-open"></i></span>
                                {% if object.line != None %}    
                                <a href="{% url 'sales:all' %}?page=1&line={{object.line.id}}" class="has-text-black">{{ object.line.name | lower | capfirst }}</a>
                                {% elif object.category != None %}
                                <a href="{% url 'sales:all' %}?page=1&category={{object.category.id}}" class="has-text-black">{{ object.category.name | lower | capfirst }}</a>
                                {% else %}
                                <a href="{% url 'sales:all' %}?page=1&" class="has-text-black">{{ info_site.title | lower | capfirst }}</a>
                                {% endif %}
                            </p>
                        </div>
                        <div class="feed-content">
                            <div class="is-size-6">{{ object.description }}</div>
                        </div>
                        <div class="feed-title has-background-grey-lighter">
                            <h3 class="is-size-7 is-marginless">
                                Código: 
                                <a href="{% url 'sales:product_detail' object.slug %}" class="has-text-grey">
                                    {{ object.code }}
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container is-margin-botton-50 is-padding-top-30" id="productsSearcherStopper">
    <div class="columns">
        <div class="column is-7 is-offset-4">
            {% include 'app/base/paginator.html' %}
        </div>
    </div>
</div>

<div class="is-hidden-desktop has-background-grey-lighter" id="productsSearcherMov">
    <div class="card box-animation">
        <div class="has-background-grey has-text-centered is-padding-y-10">
            <h3 class="is-size-5 has-text-white is-marginless">Busqueda avanzada</h3>
        </div>
        <div class="body-box has-background-grey-lighter">
            <div class="has-background-grey-lighter is-padding-y-5 is-padding-x-10">
                <div class="field has-addons has-text-centered">
                    <div class="control has-background-white">
                        {% if search == '' %}
                            <input class="input" type="text" placeholder="Buscar un producto" id='searchInput'></input>
                        {% else %}
                            <input class="input" type="text" placeholder="{{search}}" value="{{search}}" id='searchInput'></input>
                        {% endif %}
                        <a class="button is-info">
                            <span class="icon has-text-white tooltip is-tooltip-right" data-tooltip="Buscar">
                                <i class="fas fa-search"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="has-background-grey-lighter is-padding-y-5 is-padding-x-10">
                <h3 class="is-size-6">Lineas</h3>
                <div class="field has-addons has-text-centered">
                    <div class="select">
                        <form action="{% url 'sales:all' %}" method="get">
                            {% csrf_token %}
                            <select id="lineSelector">
                                {% if line != '' %}
                                    <option selected>{{ line | lower | capfirst}}</option>
                                {% else %}
                                    <option selected>Lineas</option>
                                {% endif %}
                                {% for obj in lines %}
                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="has-background-grey-lighter is-padding-y-5 is-padding-x-10">
                <h3 class="is-size-6">Sublineas</h3>
                <div class="field has-addons has-text-centered">
                    <div class="select">
                        <form action="{% url 'sales:all' %}" method="get">
                            {% csrf_token %}
                            <select id="sub_lineSelector">
                                {% if sub_line != '' %}
                                    <option selected>{{ sub_line | lower | capfirst}}</option>
                                {% else %}
                                    <option selected>Sublineas</option>
                                {% endif %}
                                {% for obj in sub_lines %}
                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="has-background-grey-lighter is-padding-y-5 is-padding-x-10">
                <h3 class="is-size-6">Departamentos</h3>
                <div class="field has-addons has-text-centered">
                    <div class="select">
                        <form action="{% url 'sales:all' %}" method="get">
                            {% csrf_token %}
                            <select id="departmentSelector">
                                {% if department != '' %}
                                    <option selected>{{ department | lower | capfirst}}</option>
                                {% else %}
                                    <option selected>Departamentos</option>                                             
                                {% endif %}
                                {% for obj in departments %}
                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="has-background-grey-lighter is-padding-y-5 is-padding-x-10">
                    <h3 class="is-size-6">Categorías</h3>
                    <div class="field has-addons has-text-centered">
                        <div class="select">
                            <form action="{% url 'sales:all' %}" method="get">
                                {% csrf_token %}
                                <select id="categorySelector">
                                {% if category != '' %}
                                    <option selected>{{ category | lower | capfirst}}</option>
                                {% else %}
                                    <option selected>Categorías</option>
                                {% endif %}
                                {% for obj in categories %}
                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="has-background-grey-lighter is-padding-y-5 is-padding-x-10">
                <h3 class="is-size-6">Marcas</h3>
                <div class="field has-addons has-text-centered">
                    <div class="select">
                        <form action="{% url 'sales:all' %}" method="get">
                            {% csrf_token %}
                            <select id="brandSelector">
                                {% if brand != '' %}
                                    <option selected>{{ brand | lower | capfirst}}</option>
                                {% else %}
                                    <option selected>Marcas</option>
                                {% endif %}
                                {% for obj in brands %}
                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="has-background-grey-lighter is-padding-y-5 is-padding-x-10">
                <h3 class="is-size-6">Colores</h3>
                <div class="field has-addons has-text-centered">
                    <div class="select">
                        <form action="{% url 'sales:all' %}" method="get">
                            {% csrf_token %}
                            <select id="colorSelector">
                                {% if color != '' %}
                                    <option selected>{{ color | lower | capfirst}}</option>
                                {% else %}
                                    <option selected>Colores</option>
                                {% endif %}
                                {% for obj in colors %}
                                    <option value="{{obj.id}}">{{ obj.name | lower | capfirst }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="has-background-grey is-padding-y-10 has-text-centered" id="searchBoxClose">
            <span class="icon is-small has-text-white">
                <i class="fas fa-times"></i>
            </span>
        </div>
    </div>
</div>
<a class="button is-rounded is-hidden-desktop" id="productsSearchButton">
    <span class="icon has-text-white tooltip is-tooltip-left" data-tooltip="Buscar">
        <i class="fas fa-search"></i>
    </span>
</a>
{% endblock %}

{% block js %}
<script>
    var baseUrl = '{{url_arg | safe}}';
    $(document).ready(function(){

        // $('#productsSearcher').fadeIn();
        $(function(){
            $("#productsSearcher").sticky({
                topSpacing: 90,
                zIndex: 2, 
                stopper: "#productsSearcherStopper"
            });
        });

        function newLocation(newUrl){
            let url;
            if (baseUrl === '&'){
                url = ('?' + newUrl);
            }else{
                url = ('?' + baseUrl + newUrl);
            }
            window.location = url;
        };

        $(document).on('change','#lineSelector', function(){
            newLocation('page=1&line='+this.value+'');
        });
        $(document).on('change','#sub_lineSelector', function(){
            console.log('click');
            newLocation('page=1&sub_line='+this.value+'');
        });
        $(document).on('change','#categorySelector', function(){
            newLocation('page=1&category='+this.value+'');
        });
        $(document).on('change','#departmentSelector', function(){
            newLocation('page=1&department='+this.value+'');
        });
        $(document).on('change','#brandSelector', function(){
            newLocation('page=1&brand='+this.value+'');
        });
        $(document).on('change','#colorSelector', function(){
            newLocation('page=1&color='+this.value+'');
        });
        $(document).on('change','#searchInput', function(){
            newLocation('page=1&search='+this.value+'');
        });

        $('#lineDelete').on('click', function(){
            newLocation('page=1&line=');
        });
        $('#sub_lineDelete').on('click', function(){
            newLocation('page=1&sub_line=');
        });
        $('#categoryDelete').on('click', function(){
            newLocation('page=1&category=');
        });
        $('#departmentDelete').on('click', function(){
            newLocation('page=1&department=');
        });
        $('#brandDelete').on('click', function(){
            newLocation('page=1&brand=');
        });
        $('#colorDelete').on('click', function(){
            newLocation('page=1&color=');
        });
        $('#searchDelete').on('click', function(){
            newLocation('page=1&search=');
        });

        $('#productsSearchButton').on('click', function(){
            $('#productsSearcherMov').css('display','block')
        });
        $('#searchBoxClose').on('click', function(){
            $('#productsSearcherMov').css('display','none')
        });
    });
</script>
{% endblock %}