{% extends 'app/base/index.html' %}{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'base/css/owl/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/owl/owl.theme.default.min.css' %}">
    <style>
        .categories{padding-top: 3rem;}
        /*  .categories */
        .container header{ margin: 2rem; padding-bottom: 45px;}
        .categories .item {min-height: 200px;background-color: #f5f5f5;background-position: top right !important;background-size: cover;background-repeat: no-repeat;}
        .categories a {display: block;color: rgb(240, 240, 240);text-decoration: none;}
        .categories .item span {color: #e7e4e4;font-weight: 300;display: block;}
        #demo{margin-top: 125px;box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
        #demo .carousel-inner img {min-width: 110%;max-height: 400px;}
        .item .content{padding-left: 10px;padding-top: 10px;height: 45px;width: 100%;background-color: #3f4236;box-shadow: -5px 4px black;text-shadow: -4px 3px 3px black;}
        .item{background: #FFF;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);margin-bottom: 45px;}
        .item .info{padding-left: 10px;padding-bottom: 10px;padding-right: 10px;padding-top: 10px;}
        .item img{text-align: center}
        .item .price{margin-right: 0px;margin-bottom: 0px;background-color: #8a7e5f;padding: 5px 20px 0px 20px;color: #FFF;}
        #ch{margin-top: 75px;}
    </style>
{% endblock %}
{% block full_screen %}
{% endblock %}
{% block content %}
        <div class="container" id="ch">
                {% if products_header_carousel %}
                <div class="shadow" id="carousel-header">
                    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
                        <ol class="carousel-indicators">
                            {% for object in products_header_carousel_images %}
                                <li data-target="#carousel" data-slide-to="{{object.id}}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner view hm-black-strong" role="listbox">
                            {% for object in products_header_carousel_images %}
                                <div class="carousel-item view hm-black-strong {% if forloop.counter == 1 %}active {% endif %}">
                        
                                    <picture>
                                        <img srcset="{{object.image.url}}" alt="{{object.name}}"
                                            class="d-block img-fluid">
                                    </picture>
                        
                                    <div class="carousel-caption">
                                        <div>
                                            <h2>{{object.name}}</h2>
                                            {{object.text | safe}}
                                            {% if object.call_to_action_url == None %}
                                            {% else %}
                                                <a class="btn btn-outline-white waves-effect" href="{{object.call_to_action_url}}">Ver más</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" role="button" data-slide="prev"  href="#carousel">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" role="button" data-slide="next"  href="#carousel">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="shadow" id="carousel-header">
                    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <picture>
                                    <img srcset="{% static 'base/img/moby-background-02.png' %}" alt="Algo"
                                        class="d-block img-fluid">
                                </picture>
                                <div class="carousel-caption">
                                    <div>
                                        <h2>Nuestros Servicios</h2>
                                        <p>CORTE, CANTEO, PERFORACIÓN, RANURADO, FRESADO, ARMADO, DESPACHO</p>
                                        <a class="btn btn-outline-white waves-effect">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <picture>
                                    <img srcset="{% static 'base/img/moby-background-02.png' %}" alt="responsive image"
                                        class="d-block img-fluid">
                                </picture>
                                <div class="carousel-caption justify-content-center align-items-center">
                                    <div>
                                        <h2>Nuestros productos</h2>
                                        <p>HERRAJES, MELAMINA, GRANITO</p>
                                        <a class="btn btn-outline-white waves-effect">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <picture>
                                    <img srcset="{% static 'base/img/moby-background-02.png' %}" alt="responsive image"
                                        class="d-block img-fluid">
                                </picture>
                                <div class="carousel-caption justify-content-center align-items-center">
                                    <div>
                                        <h2>Promo del mes</h2>
                                        <p>Promo por inicio de año, lleva tus herrajes a un 30% de descuento</p>
                                        <a class="btn btn-outline-white waves-effect">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" role="button" data-slide="prev"  href="#carousel">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" role="button" data-slide="next"  href="#carousel">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="container" id="cate">
            <div class="categories">    
                <div class="row">
                    <div class="col-sm-12">
                        <header class="text-center">
                            <h2 class="text-uppercase">
                                <a href="{% url 'sales:departments' %}" class="text-dark">Departamentos</a>
                            </h2>
                        </header>
                    </div>
                </div>
                <div class="row text-left">
                    {% if departments %}
                        {% for object in departments %}
                            <div class="col-sm-3 card-shadow">
                                <a href="{{object.get_absolute_url}}">
                                        {% if object.background %}
                                        <div style="background-image: url({{object.img.url}});" class="item d-flex align-items-end">
                                        {% else %}
                                        <div style="background-image: url(/static/base/img/moby-background-01.png);" class="item d-flex align-items-end">
                                        {% endif %}
                                        <div class="content">
                                            <h3 class="h5">{{ object.name }}</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-sm-3 card-shadow">
                            <a href="{% url 'sales:home' %}/departamento/herrajes">
                                <div style="background-image: url({% static 'base/img/herrajes.png' %});" class="item d-flex align-items-end">
                                    <div class="content">
                                        <h3 class="h5">Herrajes</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3 card-shadow">
                            <a href="{% url 'sales:home' %}/departamento/laminas">
                                <div style="background-image: url({% static 'base/img/laminas.png' %});" class="item d-flex align-items-end">
                                    <div class="content">
                                        <h3 class="h5">Laminas</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3 card-shadow">
                            <a href="{% url 'sales:home' %}/departamento/sobres">
                                <div style="background-image: url({% static 'base/img/sobres.png' %});" class="item d-flex align-items-end">
                                    <div class="content">
                                        <h3 class="h5">Sobres</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3 card-shadow">
                            <a href="{% url 'sales:home' %}/departamento/cantos">
                                <div style="background-image: url({% static 'base/img/cantos.png' %});" class="item d-flex align-items-end">
                                    <div class="content">
                                        <h3 class="h5">Cantos</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>  
            </div>
        </div>
        {# Proveedores #}
        <div class="container-fluid grey lighten-3">
            <div class="row pb-5" id="providers">
                {% if providers %}
                    <div class="col-sm-12">
                        <header class="text-center">
                            <h2 class="text-uppercase">
                                <a href="{% url 'sales:brands' %}" class="text-dark">Marcas</a>
                            </h2>
                        </header>
                    </div>
                    <div class="col-12">
                        <div class="owl-carousel owl-theme">
                            {% for object in providers %}
                                <a href="{{object.get_absolute_url}}">
                                    {% if object.logo %}
                                    <img class="owl-lazy" data-src="{{object.logo.url}}" alt="{{object.name}}">
                                    {% else %}
                                    <img class="owl-lazy" data-src="/static/base/img/moby.png" alt="{{object.name}}">
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="col-sm-12">
                        <header class="text-center">
                            <h2 class="text-uppercase">
                                <a href="{% url 'sales:brands' %}" class="text-dark">Marcas</a>
                            </h2>
                        </header>
                    </div>
                    <div class="col-12">
                        <div class="owl-carousel owl-theme">
                            <img class="owl-lazy" data-src="/static/base/img/moby.png" alt="Moby Supply">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {# proveedores #}
        {% if products %}
        <div class="container">
            <div class="row my-5 justify-content-md-center">
                    <div class="col-sm-12">
                        <header class="text-center">
                            <h2 class="text-uppercase mb-5">
                                <a href="{% url 'sales:all' %}" class="text-dark">Nuestros productos</a>
                            </h2>
                        </header>
                    </div>
                    {% for objects in products %}
                        <div class="col-sm-4 align-self-center">
                            <div class="item">
                                <a href="{{objects.get_absolute_url}}">
                                    {% if object.img %}
                                    <img src="/media/{{objects.img.url}}" alt="{{cat|title}}" class="img-fluid rounded mx-auto d-block"></img>
                                    {% else %}
                                    <img src="{% static 'base/img/moby-background-02.png' %}" alt="{{cat|title}}" class="img-fluid rounded mx-auto d-block"></img>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row pb-5">
                    <div class="col-12 ">
                        <div class="text-center">
                            <a href="{% url 'sales:all' %}" class="btn btn-outline-black text-white btn-lg">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
{% endblock %}
{% block js %}
    <script src="{% static 'base/js/owl/owl.carousel.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 6,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                lazyLoad:true,
                dots:false,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:2,
                        nav:false
                    },
                    600:{
                        items:3,
                        nav:false
                    },
                    1000:{
                        items:6,
                        nav:false,
                        loop:true
                    }
                }
            });
        });
    </script>
{% endblock %}