{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
    #departments{}
    #departments .row{
        margin-bottom: 45px;
    }
    footer{margin-top: -6px;}
    .breadcrumb{margin-top: 70px;background-color: rgba(0, 0, 0, 0)}
</style>
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row" id="breadcrumb">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'sales:home' %}">Productos</a></li>
                <li class="breadcrumb-item active">Proveedores</li>
            </ol>
        </div>
    </div>
</div>
<div class="container" id="departments">
    {% if object_list %}
        {% for object in object_list %}
            <div class="row align-items-center shadow">
                <div class="col-12 col-sm-6">
                    <div class="my-3 p-3">
                        <h2 class="display-5">
                            <a href="{{object.get_absolute_url}}">
                                {{object.name}}
                            </a>
                        </h2>
                        <p class="lead">
                            {{object.description|safe}}
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="serv-img">
                        <div class="img">
                            <a href="{{object.get_absolute_url}}">
                                {% if object.img %}
                                    <img class="img-fluid" src="{{object.img.url}}" alt="{{object.name}}">
                                {% else %}
                                    <img class="img-fluid" src="/static/base/img/moby-background-04.png" alt="{{object.name}}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row align-items-center shadow">
            <div class="col-12">
                <div class="my-3 p-3">
                    <p class="lead h3">
                        No se han encontrado resultados
                    </p>
                </div>
            </div>
        </div>

    {% endif %}
</div>

{% endblock %}

{% block js %}
<script>
$('#departments .row:nth-child(odd)').addClass('bg-light');
$('#departments .row:nth-child(odd) .col-12').addClass('text-center text-middle overflow-hidden text-dark');
$('#departments .row:nth-child(odd) a').addClass('text-dark');
$('#departments .row:nth-child(odd) .serv-img').css('width','100%');
$('#departments .row:nth-child(even)').addClass('bg-dark');
$('#departments .row:nth-child(even) .col-12').addClass('text-center text-middle overflow-hidden text-white');
$('#departments .row:nth-child(even) a').addClass('text-white');
$('#departments .row:nth-child(even) .serv-img').css('width','100%');
$('#departments .row:nth-child(even) .col-12:nth-child(odd)').addClass('order-first order-sm-12');
$('#departments .row:nth-child(even) .col-12:nth-child(even)').addClass('order-last order-sm-1');

</script>
{% endblock %}