{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}
<div class="container-fluid">    
    <div class="container is-margin-botton-50">
        <div class="columns is-centered">
            <div class="column is-4">
                <div id="whatWeDo">
                    <div class="is-padding-y-20">
                        <h3 class="is-size-2">Servicios</h3>
                        <h3 class="is-size-4">Solución al alcance de su mano. <br> ¡Moby Supply!</h3>
                    </div>
                    {% for object in service_list %}
                        <div>
                            <a href="{{object.get_absolute_url}}" class="has-text-black">
                                <h3 class="is-size-3">{{object.title}}</h3>
                            </a>
                            <hr class="rgba-green-strong is-green-line"></hr>
                            <div>
                                {% if object.description != '' %}
                                    {{ object.description | safe | truncatewords:18 }}
                                {% elif object.content != '' %}
                                    {{ object.content | safe | truncatewords:8 }}
                                {% else %}
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos maiores quidem accusamus quia! Delectus, eligendi minus dicta ipsam facere explicabo libero recusandae fugiat pariatur. Quibusdam, quis amet! Dolore, placeat modi!
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="column is-4">
                <div class="carousel" id="serviceCarrousel">
                    {% for object in service_header_carousel_images %}
                    <div class=''>
                        <img class="is-background" src="{{ object.image.url }}" alt="{{object.name}}"></img>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% if object_list %}
    <div class="columns">
        {% for object in object_list %}
            {% if forloop.counter0 == 3 or forloop.counter0 == 3 %}</div><div class="columns">{% endif %}
            <div class="column is-3 {% if forloop.first or forloop.counter0 == 3 or forloop.counter0 == 6 %}is-offset-2{% endif %}">
                <div>
                    <a href="{{object.get_absolute_url}}" class="has-text-black">
                        <h3 class="is-size-3">{{object.title}}</h3>
                    </a>
                    <hr class="rgba-green-strong is-green-line"></hr>
                    <div>
                        {% if object.description != '' %}
                            {{ object.description | safe | truncatewords:8 }}
                        {% elif object.content != '' %}
                            {{ object.content | safe | truncatewords:8 }}
                        {% else %}
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos maiores quidem accusamus quia! Delectus, eligendi minus dicta ipsam facere explicabo libero recusandae fugiat pariatur. Quibusdam, quis amet! Dolore, placeat modi!
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="columns">
        <div class="column is-8 is-offset-2">
            {% include 'app/base/paginator.html' %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script src="{% static 'base/js/slick.min.js' %}"></script>
<script>
    $('#serviceCarrousel').slick({
        dots: true,
        infinite: true,
        speed: 300,
        fade: true,
        cssEase: 'linear',
        autoplay: true,
        autoplaySpeed: 2000
    });
</script>
{% endblock %}


