{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
    #services{
        margin-top: 85px;
    }
</style>
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}
<div class="container-fluid" id="services">
    <div class="row align-items-center bg-light" id="cat">
        <div class="col-sm-6 text-center text-middle overflow-hidden text-dark">
            <div class="my-3 p-3">
                <h2 class="display-5">Cortes</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                </p>
            </div>
        </div>
        <div class="col-sm-6 text-center text-middle text-dark overflow-hidden order-last">
            <div class="my-3 py-3">
                <div class="img">
                    <img class="img-fluid" src="https://static.pexels.com/photos/74204/tokina-tiltshift-samyang-nikon-74204.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center bg-dark" id="cat">
        <div class="col-12 col-sm-6 text-center text-middle text-white overflow-hidden order-last order-md-first">
            <div class="my-3 py-3">
                <div class="img">
                    <img class="img-fluid" src="https://static.pexels.com/photos/74204/tokina-tiltshift-samyang-nikon-74204.jpeg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center text-middle overflow-hidden text-white">
            <div class="my-3 p-3">
                <h2 class="display-5">Canteo</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                </p>
            </div>
        </div>
    </div>

    <div class="row align-items-center bg-light" id="cat">
        <div class="col-sm-6 text-center text-middle overflow-hidden text-dark">
            <div class="my-3 p-3">
                <h2 class="display-5">Perforación</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                </p>
            </div>
        </div>
        <div class="col-sm-6 text-center text-middle text-dark overflow-hidden order-last">
            <div class="my-3 py-3">
                <div class="img">
                    <img class="img-fluid" src="https://static.pexels.com/photos/74204/tokina-tiltshift-samyang-nikon-74204.jpeg" alt="">
                </div>
            </div>
            
        </div>
    </div>

    <div class="row align-items-center bg-dark" id="cat">
        <div class="col-sm-6 text-center text-middle text-white overflow-hidden order-last">
            <div class="my-3 py-3">
                <div class="img">
                    <img class="img-fluid" src="https://static.pexels.com/photos/74204/tokina-tiltshift-samyang-nikon-74204.jpeg" alt="">
                </div>
            </div>
            
        </div>
        <div class="col-sm-6 text-center text-middle overflow-hidden text-white">
            <div class="my-3 p-3">
                <h2 class="display-5">Ranurado</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row align-items-center bg-light" id="cat">
        <div class="col-sm-6 text-center text-middle overflow-hidden text-dark">
            <div class="my-3 p-3">
                <h2 class="display-5">Fresado</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                </p>
            </div>
        </div>
        <div class="col-sm-6 text-center text-middle text-dark overflow-hidden order-last">
            <div class="my-3 py-3">
                <div class="img">
                    <img class="img-fluid" src="https://static.pexels.com/photos/74204/tokina-tiltshift-samyang-nikon-74204.jpeg" alt="">
                </div>
            </div>
            
        </div>
    </div>

    <div class="row align-items-center bg-dark" id="cat">
        <div class="col-sm-6 text-center text-middle text-white overflow-hidden order-last order-md-first">
            <div class="my-3 py-3">
                <div class="img">
                    <img class="img-fluid" src="https://static.pexels.com/photos/74204/tokina-tiltshift-samyang-nikon-74204.jpeg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center text-middle overflow-hidden text-white">
            <div class="my-3 p-3">
                <h2 class="display-5">Armado</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                </p>
            </div>
        </div>
    </div>

    <div class="row align-items-center bg-light" id="cat">
        <div class="col-sm-6 text-center text-middle overflow-hidden text-dark">
            <div class="my-3 p-3">
                <h2 class="display-5">Fresado</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate dolores ipsa, eos mollitia tempore aliquid repudiandae placeat ratione molestias, perspiciatis nobis consequatur ex voluptate unde minus quae repellendus. Ab.
                </p>
            </div>
        </div>
        <div class="col-sm-6 text-center text-middle text-dark overflow-hidden order-last">
            <div class="my-3 py-3">
                <div class="img">
                    <img class="img-fluid" src="https://static.pexels.com/photos/74204/tokina-tiltshift-samyang-nikon-74204.jpeg" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}