{% extends 'auth/base/index.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block css %}
{% endblock %}

{% block content %}
<div class="text-center">
    {% if validlink %}
        <form method="post" id="auth-form">
            {% csrf_token %} 
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag | safe }}
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error |safe }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %} 
                    {% if field.help_text %}
                    <small class="form-text text-muted">
                        {{ field.help_text |safe}}
                    </small>
                    {% endif %}
                </div>
            {% endfor %}
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="text-center">
                <button class="btn btn-primary g-recaptcha"
                    data-sitekey="6LfVkVQUAAAAANXxvWC0gEyxTctYXtw06_pWsH9M"
                    data-callback="onSubmit">
                    {{title}}
                </button>
            </div>
        </form>
    {% else %}
        <p>
            El enlace ya no es valido, puede que ya haya sido usado. Por favor solicitar un nuevo 
            cambio de contraseña.
        </p>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <p class="{% if message.tags %} {{ message.tags }}{% endif %} h4">{{ message }}</h2>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script>function onSubmit(token) {document.getElementById("auth-form").submit();}</script>
{% endblock %}