{% extends 'auth/base/index.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block css %}
{% endblock %}

{% block content %}
<div class="text-center">
    <p>
        Hemos enviado un correo con las instrucciones para recuperar su contraseña. 
        Si la cuenta existe con la dirección que introdujo.
        Recibira un correo pronto.
    </p>
    <p>
        Si no ha recibido un correo, verifique que el correo electronico escrito sea el usado para crear su cuenta.
        Tambien puede verificar en su carpeta de spam.
    </p>
    {% if messages %}
        {% for message in messages %}
            <p class="{% if message.tags %} {{ message.tags }}{% endif %} h4">{{ message }}</h2>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block js %}
{% endblock %}