{% autoescape off %}
<h1>Recuperar contraseña {{SITE_TITLE}}</h1>

<p>Para iniciar el proceso y recuperar su contraseña de usuario:{{ user.get_username }},
haga click en el enlace de abajo:
<br>
    <a href="{{ protocol }}://{{ domain }}{% url 'auth:password_reset_confirm' uidb64=uid token=token %}">
        Haga click Aqui
    </a>
<p>

<p>Si al hacer click en el enlace no ocurre nada, por favor copiar y pegar el enlace en 
una nueva ventana del navegado.</p>

<h3>Atentamente</h3>
<h4>Equipo de soporte.</h4>
{% endautoescape %}