{% load staticfiles %}{% load flatpages %}{% get_flatpages as flatpages %}
{% if social_media %}
<div class="is-social-media level is-marginless is-mobile" id="SMStopper">
    <div class="level-item">
        <p class="navbar-item is-size-6-desktop has-text-white is-size-7-mobile">
            Síguenos en nuestras redes sociales!
        </p>
    </div>
    <div class="level-item has-text-white">
        {% for object in social_media %}
        <a href="{{object.url}}" target="_blank">
            <span class="icon is-size-6-desktop has-text-white is-size-7-mobile has-text-white">
                <i class="fab {{object.icon}} has-text-white"></i>
            </span>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}
<footer class="is-fullhd has-footer-background has-text-white" style="margin-top: -1px;z-index: 92;">
    <div class="container" id="overFooter">
        <div class="columns">
            <div class="column ">
                <h2 class="is-size-4 has-text-white">
                    {{info_site.name}}
                </h2>
                <hr class="rgba-green-strong is-green-line"></hr>
                <ul>
                    <li class="navbar-item has-text-white">
                        <p>{{info_site.description|safe}}</p>
                    </li>
                </ul>
            </div>
            {% if blog_posts %}
            <div class="column">
                <h2 class="is-size-4 has-text-white">Artículos recientes</h2>
                <hr class="rgba-green-strong is-green-line"></hr>
                <ul>
                    {% for posts in blog_posts %}
                    <li class="navbar-item">
                        <a href="{{posts.slug}}" class="is-uppercase has-text-white">{{posts.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="column">
                <h2 class="is-size-4 has-text-white">Enlaces</h2>
                <hr class="rgba-green-strong is-green-line"></hr>
                <ul>
                    <li class="navbar-item">
                        <a href="/quienes-somos" class="is-uppercase has-text-white">¿Quienes somos?</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/cookies" class="is-uppercase has-text-white">Política de cookies</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/f-a-q" class="is-uppercase has-text-white">Preguntas Frecuentes</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/terminos-de-servicio" class="is-uppercase has-text-white">Terminos y condiciones</Link>
                    </li>
                    <li class="navbar-item">
                        <a href="/privacidad" class="is-uppercase has-text-white">Política de privacidad</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h2 class="is-size-4 has-text-white">Contacto</h2>
                <hr class="rgba-green-strong is-green-line"></hr>
                <li class="navbar-item">
                    <p class="has-text-white">{{info_site.address|safe}}, {{info_site.address1|safe}}</p>
                </li>
                <li class="navbar-item">
                    <p class="has-text-white">{{info_site.phone|safe}} - {{info_site.phone2|safe}}</p>
                </li>
                <li class="navbar-item">
                    <p class="has-text-white">Abierto: {{info_site.workday|safe}}</p>
                </li>
                <li class="navbar-item">
                    <p class="has-text-white">{{info_site.schedule|safe}} - {{info_site.schedule2|safe}}</p>
                </li>
                <li class="navbar-item">
                    <p class="has-text-white"><a class="has-text-white" href="mailto:{{info_site.email}}">{{info_site.email|safe}}</a> <a class="has-text-white" href="mailto:{{info_site.email2}}">{{info_site.email2|safe}}</a></p>
                </li>
            </div>
        </div>
    </div>
    <div id="is-copyright">
        <nav class="navbar has-footer-background-dark">
            <div class="container is-centered">
                <div class="navbar-brand">
                    <p class="navbar-item is-size-7 has-text-white">
                        © 2017 - {% now "Y" %} Moby Group | Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </nav>
    </div>
</footer>
<div>
    <div class="container is-fullhd has-background-grey is-hidden" id="cookieBottomBox">
        <div class="notification has-background-grey">
            <div class="columns is-centered">
                <div class="column">
                    <div class="level">
                        <div class="level-left">
                            <p class="has-text-white has-text-centered">
                                Este sitio utiliza
                                <strong class="has-text-white"> cookies</strong> para ofrecer nuestros servicios,
                                mostrarle anuncios relevantes
                                y listados de artículos.
                            </p>
                        </div>
                        <div class="level-right">
                            <p class="button is-text" id="setSiteCookie">
                                <span class="icon is-small has-text-success">
                                    <i class="fas fa-thumbs-up"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>