{% load staticfiles %}
    <meta name="description" content="{{SITE_DESCRIPTION}}">
    <meta name="author" content="Dev2tech" >
    <meta name="msapplication-TileColor" content="#9a8700">
    <meta name="theme-color" content="#9a8700">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">

    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">

    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/app.min.css' %}">
    
    <link href="https://fonts.googleapis.com/css?family=Sarina" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/base/css/font-awesome.min.css">
