{% load staticfiles %}
<meta name="description" content="{{SITE_DESCRIPTION}}">
<meta name="author" content="Dev2tech" >
<meta name="msapplication-TileColor" content="#f3f3f6">
<meta name="theme-color" content="#f3f3f6">

<link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'base/css/app.min.css' %}">
<link rel="stylesheet" href="{% static 'base/css/owl/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'base/css/owl/owl.theme.default.min.css' %}">

<link href="https://fonts.googleapis.com/css?family=Sarina" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">