<!DOCTYPE html>{% load staticfiles %}
<html lang="es">
<head>
    {% include 'app/base/head.html' %}
    <title>{{SITE_TITLE}} - {{SITE_URL}}</title>
    <script src="{% static 'base/js/jquery-3.2.1.min.js' %}"></script>
    {% block css %}{% endblock %}
</head>
<body>
    {% block full_screen %}{% endblock %}
    {% include 'app/base/nav.html' %}
    {% include 'app/base/social_media.html' %}
    <section id="top-section">
        <div class="content">
        {% block content %}{% endblock %}
        </div>
    </section>
    {% include 'app/base/footer.html' %}
    {% include 'app/base/scripts.html' %}
    {% block js %}{% endblock %}
</body>
</html>