{% load staticfiles %}
<div class="has-background-white" style="z-index:92;">
    <nav class="navbar is-fixed-top  has-background-transparent is-hidden-touch" id="authNavbar">
        <div class="container">
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a href="{% url 'front:contact' %}" class="is-uppercase is-size-7 has-text-black">
                        <span class="icon has-text-black tooltip is-tooltip-left" data-tooltip="Contáctenos">
                            <i class="fas fa-phone"></i>
                        </span>
                        +(507) 800 MOBY
                    </a>
                    <div class="iis-fullnav-auth">
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                        <a href="{% url 'intra:home' %}" class="is-uppercase is-size-7 has-text-black">
                            <span class="icon has-text-black tooltip is-tooltip-bottom" data-tooltip="Intranet">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            Intra
                        </a>
                        {% endif %}
                        <a href="{% url 'auth:logout' %}?next={{ request.path }}" class="is-uppercase is-size-7 has-text-black">
                            <span class="icon has-text-black tooltip is-tooltip-bottom" data-tooltip="Cerrar sesión">
                                <i class="fas fa-user-plus"></i>
                            </span>
                            Salir
                        </a>
                    {% else %}
                        <a href="{% url 'auth:login' %}?next={{ request.path }}" class="is-uppercase is-size-7 has-text-black">
                            <spanclass="icon has-text-black tooltip is-tooltip-bottom" data-tooltip="Iniciar sesión">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            Iniciar sesión
                        </a>
                        <a href="{% url 'auth:register' %}?next={{ request.path }}" class="is-uppercase is-size-7 has-text-black">
                            <span class="icon has-text-black tooltip is-tooltip-bottom" data-tooltip="Registrarse">
                                <i class="fas fa-user-plus"></i>
                            </span>
                            Registrarse
                        </a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar is-fixed-top has-navbar-gradient" id="fullNavbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="{% url 'front:home' %}" class="navbar-item">
                    <img src="{{info_site.logo.url}}" alt="{{SITE_TITLE}}" id="is-logo"></img>
                </a>
                <span class="navbar-burger" ref="isBurger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end is-hidden-touch">
                    {% for item in FRONT_HEADER_MENU %}
                    <a data-target="navMenu" href="{{item.url}}" class="is-uppercase navbar-item is-nav-link text-green {% if url_nav == item.name %}selected text-green-active{% endif %}">
                        {% if item.have_icon %}
                        <i class="material-icons">{{item.name}}</i>
                        {% else %} {{item.name}} {% endif %}
                    </a>
                    {% endfor %}
                </div>
                <div class="navbar-end is-hidden-desktop">
                    <a href="{% url 'front:home' %}" class="navbar-item">
                        <img src="{{info_site.logo.url}}" alt="{{SITE_TITLE}}" id="is-logo"></img>
                    </a>
                    {% for item in FRONT_HEADER_MENU %}
                    <a data-target="navMenu" href="{{item.url}}" class="is-uppercase navbar-item">
                        {{item.name}}
                    </a>
                    {% endfor %}
                </div>
                <div class="is-hidden-desktop is-fullnav-auth">
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                        <a href="{% url 'intra:home' %}" class="is-uppercase is-size-7 has-text-black">
                            <span class="icon has-text-black tooltip is-tooltip-bottom" data-tooltip="Intranet">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            Intra
                        </a>
                        {% endif %}
                        <a href="{% url 'auth:logout' %}?next={{ request.path }}" class="is-uppercase is-size-7 has-text-black">
                            <span class="icon has-text-black tooltip is-tooltip-bottom" data-tooltip="Cerrar sesión">
                                <i class="fas fa-user-plus"></i>
                            </span>
                            Salir
                        </a>
                    {% else %}
                        <a href="{% url 'auth:login' %}?next={{ request.path }}" class="is-uppercase is-size-7 has-text-black">
                            <span class="icon has-text-black tooltip is-tooltip-bottom" data-tooltip="Iniciar sesión">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            Iniciar sesión
                        </a>
    
                        <a href="{% url 'auth:register' %}?next={{ request.path }}" class="is-uppercase is-size-7 has-text-black">
                            <span class="icon has-text-black tooltip is-tooltip-bottom" data-tooltip="Registrarse">
                                <i class="fas fa-user-plus"></i>
                            </span>
                            Registrarse
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>