<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom fixed-top">{% load staticfiles %}
    <div class="container">
        <a href="{% url 'front:home' %}" class="navbar-brand"><img id="menuLogo" src="{% static 'base/img/logo.png' %}" alt="{{SITE_TITLE}}"></a>
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar9">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="{% url 'front:services' %}">servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="{% url 'front:products' %}">productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="{% url 'front:blog' %}">blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="{% url 'front:contact' %}">contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="{% url 'front:search' %}"><i class="material-icons">search</i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>