{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="{{SITE_DESCRIPTION}}">
<meta name="author" content="Dev2tech" >
<meta name="msapplication-TileColor" content="#9a8700">
<meta name="theme-color" content="#9a8700">
<meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/manifest.json">

<link rel="apple-touch-icon" sizes="114x114" href="{% static 'base/img/logo/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'base/img/logo/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'base/img/logo/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'base/img/logo/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/img/logo/apple-icon-180x180.png' %}">
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'base/img/logo/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'base/img/logo/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'base/img/logo/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'base/img/logo/apple-icon-76x76.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/img/logo/favicon-16x16.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'base/img/logo/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/img/logo/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'base/img/logo/favicon-96x96.png' %}">

<link rel="stylesheet" href="{% static 'base/css/bulma.min.css' %}">
<link rel="stylesheet" href="{% static 'base/css/slick.css' %}">
<link rel="stylesheet" href="{% static 'base/css/slick-theme.css' %}">
<link rel="stylesheet" href="{% static 'base/css/app.css' %}">

<link href="https://fonts.googleapis.com/css?family=Sarina" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">