{% if is_paginated %}
            <nav>
                <ul class="pagination pg-teal text-center">
                    {% if page_obj.has_previous %}

                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" href="?page={{ page_obj.previous_page_number }}">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </a>
                        </li>

                    {% else %}

                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </a>
                        </li>

                    {% endif %}
                    {% if page_obj.paginator.num_pages > page_obj.number|add:'-4' and page_obj.number|add:'-4' > 0 %}
                        <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                    {% endif %}
                    {% for i in paginator.page_range %} 
                            
                        {% if page_obj.number == i %}
                            <li class="page-item current">
                                <a class="page-link">{{ i }}</a>
                            </li>
                        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{i}}</a>
                            </li>
                        {% endif %}

                    {% endfor %} 
                    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                        <li><a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}

                        <li class="page-item">
                            <a class="page-link" aria-label="Next" href="?page={{ page_obj.next_page_number }}">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
{% endif %}