{% extends 'app/base/index.html' %}{% load staticfiles %}{% load widget_tweaks %}

{% block css %}
<style>
    #blogBox, #commentPostBox{
        background-color: #fff;
        padding: 25px;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    #commentPostBox #cke_id_content{
        width: 100% !important;
    }
    #commentBox{
        background-color: #f8f8f8;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        padding: 25px;
    }
</style>
{% endblock %}

{% block full_screen %}
{% endblock %}
{% block content %}

<div class="container is-padding-y-30">
    <div class="columns">
        <div class="column is-8 is-offset-2 is-padding-top-30">
            <div id="blogBox">
                <div class="view overlay hm-white-slight is-centered">
                    {% if object.img.url != None %}
                        <img class="" src="{{object.img.url}}" alt="{{object.title}}">
                    {% elif object.background.url != None %}
                        <img class="" src="{{object.background.url}}" alt="{{object.title}}">
                    {% else %}
                        <img class="" src="/static/base/img/img-base-m.png" alt="{{object.title}}">
                    {% endif %}
                </div>
                <div class="is-padding-top-20">
                    <h1 class="is-size-3"><strong>{{object.title}}</strong></h1>
                    <p class="">
                        {{object.text| safe}}
                    </p>
                    <p>Escrito por 
                        <a class="font-bold dark-grey-text">{{object.author}}</a>, {{object.created_at}}
                    </p>
                    <a href="{{object.get_absolute_url}}" class="btn btn-outline-dark btn-md">Leer más</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container is-padding-y-30">
    {% if has_comments %}
    {% for object in comments %}
        <div class="columns">
        <div class="column is-8 is-offset-2 is-padding-top-10">
            <div id="commentBox">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                        <p>
                            <strong>@{{object.author}}</strong> <small>31m</small>
                            <br>
                            {{ object.content|safe }}
                        </p>
                        </div>
                        <nav class="level is-mobile">
                        <!-- <div class="level-left">
                            <a class="level-item">
                            <span class="icon is-small"><i class="fas fa-reply"></i></span>
                            </a>
                            <a class="level-item">
                            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                            </a>
                            <a class="level-item">
                            <span class="icon is-small"><i class="fas fa-heart"></i></span>
                            </a>
                        </div> -->
                        </nav>
                    </div>
                    <div class="media-right">
                        {% if user == object.author %}<button class="delete"></button>{% endif %}
                    </div>
                </article>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="columns">
        <div class="column is-8 is-offset-2 is-padding-y-30">
            {% include 'app/base/paginator.html' %}
        </div>
        {% endif %}
    </div>
</div>

<div class="container is-padding-y-30">
    <div class="columns">
        {% if user.is_authenticated %}
        <div class="column is-8 is-offset-2 is-padding-y-10">
            <div>
                <div id="commentPostBox">
                    <form action="{% url 'blog:add_comment' object.slug %}" method="post">
                        <div class="has-text-centered">
                            <h3 class="is-size-3">Hacer un comentario</h3>
                        </div>
                        <div>
                            <div>
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form.as_p }}
                            </div>
                        </div>
                        <div>
                            <div class="control">
                                <button class="button is-success is-fullwidth">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="column is-8 is-offset-2 is-padding-y-10">
            <div>
                <div id="commentPostBox">
                    <div class="has-text-centered is-padding-y-10">
                        <h3 class="is-size-4">Para poder publicar debe estar registrado o iniciar sesión</h3>
                    </div>
                    <div class="is-centered is-padding-y-10">
                        <div class="buttons">
                            <a class="button is-primary is-outlined" href="{% url 'auth:login' %}?next={{ request.path }}">Iniciar Sesión</a>
                            <a class="button is-success is-outlined" href="{% url 'auth:register' %}?next={{ request.path }}">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    // new WOW().init();
    // $( ".wow" ).addClass( "fadeInUp" );
</script>
{% endblock %}

                        

<div class="container_fluid">
                            <div class="row" id="newsletter">
                                <div class="col-12 text-center">
                                    <div class="card paral paralsec">
                                        <div class="card-body">
                                            <h5 class="card-title display-4">{{object.title}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="bg-light">
                            <div class="container">
                                <div class="row content-4 justify-center py-5">
                                    <div class="col-md-6 pl-5 pr-5 text-center">
                                        {% if object.img %}
                                            <img class="mb-4 img-fluid" src="{{object.img.url}}" alt="{{object.title}}">
                                        {% else %}
                                            <img class="mb-4 img-fluid" src="/static/base/img/img-base-m.png" alt="{{object.title}}">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 text-left">
                                        <p class="card-text text-dark h2">{{object.sub_title}}.</p>
                                        {{object.text|safe}}
                                    </div>
                                    <div class="col">
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if has_commentss %}
                            <div class="container">
                                {% for object in comments %}
                                    <div class="row justify-content-md-center coments">
                                        <div class="col-md-7 col-testimonial">
                                            <div class="row coment_body">
                                                <div class="col-3 col-sm-5 text-center">
                                                    <img class="" src="/static/base/img/base-s.png">
                                                </div>
                                                <div class="col-9 col-sm-7">
                                                    <div class="comment-body">
                                                        <p class="quote-text">
                                                            {{object.content|safe}}
                                                        </p>
                                                        <div class="footer">
                                                            <p><span class="quote-author">{{object.author}}</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                {% endfor %}
                                {% include 'app/base/paginator.html' %}
                            </div>
                        {% endif %}
                        
                        <div class="rgba-green-light">
                            <div class="container">
                                <div class="row justify-content-md-center -body">
                                    
                                    <div class="cta-3 text-center justify-center">
                                        {% if user.is_authenticated %}
                                            <div class="container">
                                                <a class="btn btn-lg btn-info py" data-toggle="modal" data-target="#fullHeightModalRight">Hacer un comentario</a>
                                            </div>
                                        {% else %}
                                            <div class="container">
                                                <h2 class="mb-4">Debe registrate o iniciar sesión para comentar en esta publicación</h2>
                                                <a class="btn btn-lg btn-success py" href="{% url 'auth:login' %}?next={{ request.path }}">Iniciar Sesión</a>
                                                <a class="btn btn-lg btn-primary py" href="{% url 'auth:register' %}?next={{ request.path }}">Registrarse</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="modal fade top" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-full-height modal-bottom" role="document">
                                <div class="modal-content container">
                                    <form action="{% url 'blog:add_comment' object.slug %}" method="post">
                                        <div class="modal-header">
                                            <h5 class=" text-center" id="emyModalLabel">Hacer un comentario</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="text-center">
                                                {% csrf_token %}
                                                {{ form.media }}
                                                {{ form.as_p }}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="text-center">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                                <button class="btn btn-success">Publicar
                                                    <i class="fa fa-paper-plane-o ml-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>