{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
    .paralsec {
        margin-top: 75px;
        {% if object.img %}
            background-image: url("{{object.background.url}}");
        {% else %}
            background-image: url("/static/base/img/moby-background-01.png");
        {% endif %}
    }
    .card .card-body h5 {font-size: 5rem;margin-top: 50px;}
    .breadcrumb{background-color: rgba(0, 0, 0, 0)}
    #our_work img{
        max-height: 200px;
        width: 100%;
    }
</style>
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}
<div class="card paral paralsec view hm-black-slight">
    <div class="card-body mask">
    </div>
</div>
<div class="container">
    <div class="row" id="breadcrumb">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'services:home' %}">Servicios</a></li>
                <li class="breadcrumb-item">{{object.name}}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-sm-6">
            <h1>
                {{object.title}}
            </h1>
            <hr class="special-color-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <div class="service-body">
                {{object.content|safe}}
            </div>
        </div>
    </div>
    
    {% if has_images %}
        <div class="row mt-5">
            <div class="col-md-12">
                <div id="mdb-lightbox-ui">
                    <h3>
                        Nuestro trabajo
                    </h3>
                    <hr class="special-color-dark mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                </div>
                <div class="mdb-lightbox">
                    {% for object in images %}
                        <figure class="col-md-4" id="our_work">
                            <img src="{{object.image.url}}" alt="placeholder" class="img-fluid">
                        </figure>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row align-items-center my-5">
        <div class="col-sm-2"></div>
        <div class="col-12 col-sm-8 align-self-center p-5 bg-white">
            <form>
                <p class="h5 text-center mb-4">Solicita nuestro servicio de {{object.name}}</p>
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form3" class="form-control">
                    <label for="form3">¿Cual es su nombre?</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="form2" class="form-control">
                    <label for="form2">¿Cual es su dirección de correo electronico?</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="text" id="form32" class="form-control">
                    <label for="form34">Asunto de contacto</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea type="text" id="form8" class="md-textarea" style="height: 100px"></textarea>
                    <label for="form8">¿Cual es su mensaje?</label>
                </div>
                <div class="text-center">
                    <button class="btn btn-success">Enviar
                        <i class="fa fa-paper-plane-o ml-1"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script>
    $('.service-body img').addClass('img-fluid')
</script>
{% endblock %}