{% extends 'app/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
    .paralsec {
        margin-top: 75px;
        background-image: url("{{object.background.url}}");
    }
    .card .card-body h5 {font-size: 5rem;margin-top: 50px;}
    .breadcrumb{background-color: rgba(0, 0, 0, 0)}
</style>
{% endblock %}

{% block full_screen %}

{% endblock %}

{% block content %}
<div class="card paral paralsec view">
    <div class="card-body hm-brown-strong">
        <h5 class="card-title display-4">{{object.name}}</h5>
    </div>
</div>
<div class="container">
    <div class="row" id="breadcrumb">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'services:home' %}">Servicios</a></li>
                <li class="breadcrumb-item">{{object.name}}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            {% if object.image %}
            <div class="img">
                <img class="img-fluid" src="{{object.image.url}}" alt="{{object.name}}">
            </div>
            {% else %}
                <p>no hay imagen para mostrar</p>
            {% endif %}
        </div>
        <div class="col-sm-12 col-sm-6">
            <h1>
                {{object.title}}
            </h1>
            <div class="service-body">
                {{object.content|safe}}
            </div>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-12">
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox">
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(145).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(145).jpg" alt="placeholder" class="img-fluid">
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg" alt="placeholder" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg" alt="placeholder" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg" alt="placeholder" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(151).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(151).jpg" alt="placeholder" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg" alt="placeholder" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(148).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(148).jpg" alt="placeholder" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(147).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="placeholder" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(149).jpg" data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(149).jpg" alt="placeholder" class="img-fluid" />
                    </a>
                </figure>
            </div>
        </div>
    </div>

    <div class="row align-items-center my-5">
        <div class="col-2"></div>
        <div class="col-8 align-self-center p-5 bg-white">
            <form>
                <p class="h5 text-center mb-4">Solicita nuestro servicio de {{object.name}}</p>
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form3" class="form-control">
                    <label for="form3">¿Cual es su nombre?</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="form2" class="form-control">
                    <label for="form2">¿Cual es su dirección de correo electronico?</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="text" id="form32" class="form-control">
                    <label for="form34">Asunto de contacto</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea type="text" id="form8" class="md-textarea" style="height: 100px"></textarea>
                    <label for="form8">¿Cual es su mensaje?</label>
                </div>
                <div class="text-center">
                    <button class="btn btn-success">Enviar
                        <i class="fa fa-paper-plane-o ml-1"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script>
    $('.service-body img').addClass('img-fluid')
</script>
{% endblock %}