{% extends 'intra/base/index.html' %}{% load staticfiles %}{% load widget_tweaks %}

{% block css %}
<style>
    .modal-card-body {height: 60vh;}
    .cke{width: auto !important;}
</style>
{% endblock %}

{% block content %}
<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card is-clipped">
        <form method="post" enctype="multipart/form-data">
            <div class="modal-card-head">
                <p class="modal-card-title">Agregar</p>
            </div>
            <div class="modal-card-body">
                {% csrf_token %}{% for field in form %}
                <div class="field">
                    <label class="label">{{ field.label_tag | safe  }}</label>
                    {% if form.is_bound %}
                    
                        {% if field.errors %}
                            {% render_field field class="control is-danger" %}
                            {% for error in field.errors %}
                                <p class="help is-danger"><small>{{ error |safe }}<small</p>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="control is-valid" %}
                        {% endif %}
                    
                    {% else %}
                    
                        {% if field.field_type == 'checkbox' %}
                            {% render_field field %}
                        {% else %}
                            {% render_field field %}
                        {% endif %}

                    {% endif %} 
                    
                    {% if field.help_text %}
                        <p class="help is-success"><small>{{ field.help_text |safe}}</small></p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="modal-card-foot">
                <button class="button is-primary is-fullwidth">Guardar cambios</button>
            </div>
        </form>
    </div>
    <button class="modal-close is-large" aria-label="close" id="modalClose"></button>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click','#modalClose', function(){
            var next = window.location.search.substring(1).split('next=')[1] || '/intra/';
            window.location = next;
        });
        $('input[type=text]').addClass('input');
        $('input[type=email]').addClass('input');
        $('input[type=number]').addClass('input');
        // $('input[type=file]').wrap('<div class="file"><label class="file-label"></label></div');
        // $('.file-label').append('<span class="file-cta"><span class="file-icon"><i class="fas fa-upload"></i></span><span class="file-label">Seleccionar una imagen…</span></span>');
        // $('input[type=file]').addClass('file-input');
        $('select').wrap('<div class="select is-fullwidth"></div>');
    });
</script>
{% endblock %}