{% extends 'intra/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
    .thumbnail{
        height: 80px
    }
</style>
{% endblock %}

{% block crumbs %}
<li class="has-text-back"><a href="{% url 'intra:users' %}" aria-current="page">{{APP}}</a></li>
{% endblock %}

{% block content %}
<div class="card events-card">
    <header class="card-header">
        <p class="card-header-title">
            Productos
        </p>
        <p class="card-header-title">
            {% if user.profile.role == 'ADMIN' or user.profile.role == 'SUPERVISOR' or user.is_staff %}
            <a class="button is-small is-primary" href="{% url 'intra:product-create' %}?next={{ request.path }}">Agregar</a>
            {% endif %}
        </p>
    </header>
    <div class="card-table">
        <div class="content">
            <table class="table is-fullwidth is-striped">
                <thead>
                    <td>ID</td>
                    <td>Código</td>
                    <td>Visitas</td>
                    <td>Linea</td>
                    <td>Sub-linea</td>
                    <td>Color</td>
                    <td>Marca</td>
                    <td>Categoría</td>
                    <td>Departamento</td>
                    <td>Acciones</td>
                </thead>
                <tbody>
                    {% for product in object_list %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.code}}</td>
                        <td><p>{{product.views}}</p></td>
                        <td><p>{{product.line}}</p></td>
                        <td><p>{{product.sub_line}}</p></td>
                        <td><p>{{product.color}}</p></td>
                        <td><p>{{product.brand}}</p></td>
                        <td><p>{{product.category}}</p></td>
                        <td><p>{{product.department}}</p></td>
                        <td>
                            {% if user.profile.role == 'ADMIN' or user.profile.role == 'SUPERVISOR' or user.is_staff %}
                            <a class="button is-small is-primary" href="{% url 'intra:product-update' pk=product.id %}?next={{ request.path }}"><span class="icon tooltip is-tooltip-left" data-tooltip="Editar"><i class="fas fa fa-edit"></i></span></a>
                            <a class="button is-small is-danger" href="{% url 'intra:product-delete' pk=product.id %}?next={{ request.path }}"><span class="icon tooltip is-tooltip-right" data-tooltip="Eliminar"><i class="fas fa fa-eraser"></i></span></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <footer class="card-footer">
        <div class="content">
            {% include 'intra/base/paginator.html' %}
        </div>
    </footer>
</div>
{% endblock %}

{% block js %}

{% endblock %}