{% extends 'intra/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
    .thumbnail{
        height: 80px
    }
</style>
{% endblock %}

{% block crumbs %}
<li class="has-text-back"><a href="{% url 'intra:users' %}" aria-current="page">{{APP}}</a></li>
{% endblock %}

{% block content %}
<div class="card events-card">
    <header class="card-header">
        <p class="card-header-title">
            Productos
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </a>
    </header>
    <div class="card-table">
        <div class="content">
            <table class="table is-fullwidth is-striped">
                <tbody>
                    {% for product in object_list %}
                    <tr>
                        <td width="5%">{{product.views}}<i class="fa fa-bell-o"></i></td>
                        <td><p>{{product.name}}</p></td>
                        <td><p>{{product.description|safe}}</p></td>
                        <td>
                            {% if user.profile.role == 'ADMIN' or user.profile.role == 'SUPERVISOR' %}
                            <a class="button is-small is-primary" href="{% url 'intra:product-update' pk=product.id %}">Editar</a>
                            <a class="button is-small is-danger" href="{% url 'intra:product-delete' pk=product.id %}">Eliminar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <footer class="card-footer">
        <div class="content">
            {% include 'intra/base/paginator.html' %}
        </div>
    </footer>
</div>
{% endblock %}

{% block js %}

{% endblock %}