{% extends 'intra/base/index.html' %}{% load staticfiles %}

{% block css %}
<style>
</style>
{% endblock %}

{% block crumbs %}
<li class="has-text-back"><a href="{% url 'intra:users' %}" aria-current="page">Usuarios</a></li>
<li class="has-text-back"><a href="{% url 'intra:profile' %}" aria-current="page">{{USER_FULLNAME}}</a></li>
{% endblock %}

{% block content %}

<div class="card events-card">
    <header class="card-header">
        <figure class="image is-64x64 is-margin-y-5">
        {% if USER_AVATAR.url %}
            <img class="is-rounded is-margin-x-5" src="{{ USER_AVATAR }}" alt="{{USER_FULLNAME}}"/>
        {% else %}
            <img class="is-rounded is-margin-x-5" src="{% static 'base/img/avatar.png' %}" alt="{{USER_FULLNAME}}"/>
        {% endif %}
        </figure>
        <p class="card-header-title">
            Perfil de {{USER_FULLNAME}} {% if user.is_superuser %}<i class="fi-sheriff-badge gold"></i>{% endif %}
        </p>
        <p class="card-header-title">Miembro desde: <span>{{user.date_joined|date:"SHORT_DATE_FORMAT"}}</span></p>
    </header>
</div>

<div class="card events-card">
    <header class="card-header">
        <p class="card-header-title">
            Mis Comentarios
        </p>
    </header>
    <div class="card-table">
        <div class="content">
            <table class="table is-fullwidth is-striped">
                {% if not comments %}
                <tbody>
                    <td class="is-centered"> <h3>No se han encontrado resultados</h3> </td>
                </tbody>
                {% else %}
                <tbody>
                    <thead>
                        <td>ID</td>
                        <td>Artículo</td>
                        <td>Comentario</td>
                        <td>Acciones</td>
                    </thead>
                    {% for object in comments %}
                    <tr>
                        <td><a href="{% url 'intra:comment-update' object.id %}">{{object.id}}</a></td>
                        <td>{{object.post.title}}</td>
                        <td>{{object.content | safe}}</td>
                        <td>
                            {% if user.profile.role == 'ADMIN' or user.profile.role == 'SUPERVISOR' or user.is_staff %}
                                <a class="button is-small is-primary" href="{% url 'intra:comment-update' object.id %}?next={{ request.path }}"><span class="icon tooltip is-tooltip-left" data-tooltip="Editar"><i class="fas fa fa-edit"></i></span></a>
                                <a class="button is-small is-danger" href="{% url 'intra:comment-delete' object.id %}?next={{ request.path }}"><span class="icon tooltip is-tooltip-right" data-tooltip="Eliminar"><i class="fas fa fa-eraser"></i></span></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
    <footer class="card-footer">
        <div class="content">
            {% include 'intra/base/paginator.html' %}
        </div>
    </footer>
</div>

{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}