{% extends 'intra/base/index.html' %}{% load staticfiles %}

{% block css %}
{% endblock %}

{% block crumbs %}
<li class="has-text-back"><a href="{% url 'intra:services' %}" aria-current="page">Servicios</a></li>
{% endblock %}

{% block content %}
<div class="card events-card">
    <header class="card-header">
        <p class="card-header-title">
            Servicios
        </p>
        <p class="card-header-title">
            {% if user.profile.role == 'ADMIN' or user.profile.role == 'SUPERVISOR' or user.is_staff %}
            <a class="button is-small is-primary" href="{% url 'intra:service-create' %}?next={{ request.path }}">Agregar</a>
            {% endif %}
        </p>
    </header>
    <div class="card-table">
        <div class="content">
            <table class="table is-fullwidth is-striped">
                {% if not object_list %}
                <tbody>
                    <td class="is-centered"> <h3>No se han encontrado resultados</h3> </td>
                </tbody>
                {% else %}
                <thead>
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>Descripción</td>
                    <td>Acciones</td>
                </thead>
                <tbody>
                    {% for service in object_list %}
                    <tr>
                        <td width="5%">{{service.id}}</td>
                        <td><p>{{service.name}}</p></td>
                        <td><p><span>{{service.content | safe}}</span></p></td>
                        <td>
                            {% if user.profile.role == 'ADMIN' or user.profile.role == 'SUPERVISOR' or user.is_staff %}
                            <a class="button is-small is-primary" href="{% url 'intra:service-update' pk=service.id %}?next={{ request.path }}"><span class="icon tooltip is-tooltip-left" data-tooltip="Editar"><i class="fas fa fa-edit"></i></span></a>
                            <a class="button is-small is-danger" href="{% url 'intra:service-delete' pk=service.id %}?next={{ request.path }}"><span class="icon tooltip is-tooltip-right" data-tooltip="Eliminar"><i class="fas fa fa-eraser"></i></span></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
    <footer class="card-footer">
        <div class="content">
            {% include 'intra/base/paginator.html' %}
        </div>
    </footer>
</div>

<div class="card events-card">
    <header class="card-header">
        <p class="card-header-title">
            Servicios
        </p>
        <p class="card-header-title">
            {% if user.profile.role == 'ADMIN' or user.profile.role == 'SUPERVISOR' or user.is_staff %}
            <a class="button is-small is-primary" href="{% url 'intra:service-img-create' %}?next={{ request.path }}">Agregar</a>
            {% endif %}
        </p>
    </header>
    <div class="card-table">
        <div class="content">
            <table class="table is-fullwidth is-striped">
                {% if not images %}
                <tbody>
                    <td class="is-centered"> <h3>No se han encontrado resultados</h3> </td>
                </tbody>
                {% else %}
                <thead>
                    <td>Servicio</td>
                    <td>Imagen</td>
                    <td>Nombre</td>
                    <td>Contenido</td>
                    <td>Acciones</td>
                </thead>
                <tbody>
                    {% for service in images %}
                    <tr>
                        <td width="5%">{{service.Service.name}}</td>
                        <td>
                            {% if service.image.url != None %}
                            <figure class="image is-64x64">
                                <img src="{{service.image.url}}" alt="{{service.Service.name}}">
                            </figure>
                            {% else %}
                            {{service.image}}
                            {% endif %}
                        </td>
                        <td>{{service.name}}</td>
                        <td>{{service.text | safe}}</td>
                        <td>
                            {% if user.profile.role == 'ADMIN' or user.profile.role == 'SUPERVISOR' or user.is_staff %}
                            <a class="button is-small is-primary" href="{% url 'intra:service-img-update' pk=service.id %}?next={{ request.path }}"><span class="icon tooltip is-tooltip-left" data-tooltip="Editar"><i class="fas fa fa-edit"></i></span></a>
                            <a class="button is-small is-danger" href="{% url 'intra:service-img-delete' pk=service.id %}?next={{ request.path }}"><span class="icon tooltip is-tooltip-right" data-tooltip="Eliminar"><i class="fas fa fa-eraser"></i></span></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
    <footer class="card-footer">
        <div class="content">
            {% include 'intra/base/paginator.html' %}
        </div>
    </footer>
</div>
{% endblock %}

{% block js %}

{% endblock %}