body {display: flex;min-height: 100vh;flex-direction: column;}
section {flex: 1;height: 100vh;padding-top: 45px;}

#auth{height: 100vh;}
#gradient{background: #314755;}
.card-header,.card-footer{background-color: unset}

@media only screen and (max-width: 760px) {
    #auth{margin-bottom: 45px; margin-top: 45px;}
}