{% extends 'auth/base/index.html' %}{% load staticfiles %}{% load widget_tweaks %}

{% block css %}
{% endblock %}

{% block content %}

    <form method="post" novalidate>
        {% csrf_token %} 
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag | safe }}
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error |safe }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %} 
                {% if field.help_text %}
                <small class="form-text text-muted">
                    {{ field.help_text |safe}}
                </small>
                {% endif %}
            </div>
        {% endfor %}
    
        <button type="submit" class="btn btn-primary">{{form_button}}</button>
    </form>

{% endblock %}

{% block js %}
{% endblock %}