#about {margin-top: 45px;}
#about .img{margin-right: -25px;}
#about .card{margin-left: -25px;}
#carousel {width: 100%;overflow: hidden; max-height: 600px;}
#carousel .carousel-inner img {width: calc(100%) !important;
    height: calc(600px) !important;}
#carousel-header {max-height: 600px; overflow: hidden; width: 100%; margin-top: 50px;}
.carousel-caption {bottom: 10%;}
#cards .card-img-overlay {position: initial;}
#departments .row {margin-bottom: 45px;}
/* #departments .row .card:nth-child(1){margin-left:-14px; margin-right:-14px; } */
.rgba-black-strong {
    background-color: rgba(0,0,0,.7)!important;
}
.moby-gradient{
    background: rgb(36,33,0);
    background: linear-gradient(90deg, rgba(36,33,0,1) 0%, rgba(168,150,43,1) 54%, rgba(236,255,0,1) 100%);
}

@media (max-width: 575px){
    #cards .col-12:nth-child(2){margin-top: 45px;}
}
@media (max-width: 765px){
    #about {margin-top: 45px;}
    #about .img{margin-right: 0px;}
    #about .card{margin-left: 0px;}
    #about .card{margin-left: 15px;margin-right: 15px;margin-top: -50px;}
    #departments .row .card:nth-child(1){margin-bottom: 45px;}
    /* #cards .card {margin-bottom: 45px;}
    #about .img {position: relative;padding: unset;margin: 0 -15px;}
    #about .card {margin-left: 0px;margin-top: -25px;}
    #about .img img {height: 350px;} */
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }
